[2018-11-13 13:31] schickling opened #43 "Prompt before leaving page/reloading"
We should prompt the user before leaving/reloading the page (see [this tutorial](https://code-maven.com/prevent-leaving-the-page-using-plain-javascript))

[2018-11-17 15:38] schickling opened #42 "CMD + Enter should run query"

[2018-11-17 15:40] schickling opened #41 "Normalize query to not show "Run the query..." warning when changing whitespace/comments"
![kapture 2018-11-17 at 16 39 46](https://user-images.githubusercontent.com/1567498/48662806-7b01cc00-ea87-11e8-8044-a30832dea573.gif)

[2018-11-17 15:43] schickling opened #40 "Clicking on "+" to create new query should auto-focus the query editor"

[2019-06-12 12:17] schickling opened #39 "Don't open last opened project when launching the Desktop app"
The Desktop app should always open the project selection window instead of the last opened project

[2019-06-25 08:49] sdnts opened #38 "Trim internal state tree"
We have too much state.

Some of it is unnecessary, but most of it is just disorganized.

Action items:
1. Get a clearer idea of what state we can discard
2. Move similar state together, instead of splitting it in multiple places

Expected outcomes:
1. A well-defined state tree diagram/JSON

[2019-06-25 09:33] sdnts opened #37 "Improve build and packaging workflows"
Action items:
1. Move code around to be able to reuse the react app in multiple environments

Expected outcomes:
1. Automated version bumps & releases
2. Ability to add a new environment to run the react app in (like a Lambda)

Suggested structure:

<img width="882" alt="Screenshot 2019-06-25 at 11 30 50" src="https://user-images.githubusercontent.com/7689783/60087152-b9a5e600-973c-11e9-88c0-c2c05

[2019-06-25 10:03] sdnts opened #35 "Map out major user flows for 1.0 release"
In order to declutter sagas (#33), we need to first figure out what user flows are possible. There shouldn't be a whole lot to worry about right now, so mapping them out will help us figure out a better data flow.

Action items:
1. Draw out all flows

Expected Outcomes:
1. Flow diagram

[2019-06-25 10:12] sdnts opened #34 "Define a clearer data flow for sagas"
Action items:
1. Remove unused / unnecessary actions and/or sagas.
2. Reduce interdependence, AKA reduce sagas calling sagas as much as possible.
3. Do not try to reuse code using sagas. Make separate functions.

Expected outcomes:
1. Use the word sagas less often.
2. Clearer and debuggable sagas.

[2019-06-25 10:14] sdnts opened #33 "Integration tests"
Need more E2E tests for literally everything that's a major user flow

Expected outcomes:
1. `>0` tests please.

[2019-06-25 10:15] sdnts opened #32 "Unit tests"
Smaller parts, like the engine, photon initialization and IF processing needs unit tests

[2019-06-25 10:17] unsafecreds opened #2 "Tests for performance monitoring"
Relatively low priority, but we need to make sure the app does not fall victim to death by a thousand cuts.

Action Items:
1. Perf tests that run with other tests on CircleCI

Expected outcomes:
1. A score or a metric to track if a PR/commit made the app slower to boot up, to send queries, to list data etc.

[2019-06-25 10:19] madebysid opened #3 "General keyboard shortcuts"
Action Items:
1. Use a more robust shortcut management library

Expected Outcomes:
1. Shortcuts that people expect to "just work", like new windows, new queries etc. to "just work".

[2019-07-18 15:24] madebysid opened #5 "Show version of Photon / Lift / Binary being used"
Problem:
On the Electron app and the Studio Server, we want to be able to show exact versions of Photon / Lift / Prisma 2 Binary being used.
Currently, the react app is built far before these versions are known, so it isn't possible.

Possible solutions:
Electron's main process & the Studio server can pass in parameters to the React app, so we could use these to inject actual versions. For Electro

[2019-07-22 07:07] schickling opened #30 "Photon errors should be caught and printed in Studio - not in `prisma dev` output"
![image](https://user-images.githubusercontent.com/1567498/61613845-a5cda100-ac62-11e9-99ac-70e2761368f3.png)

[2019-07-22 07:07] schickling opened #31 "Photon errors should be caught and printed in Studio - not in `prisma dev` output"
![image](https://user-images.githubusercontent.com/1567498/61613026-7a49b700-ac60-11e9-9b0b-1cf8a6c4422b.png)

[2019-07-28 19:07] schickling opened #29 "Details bar: Empty list of relations shouldn't be displayed as `[]`"
![image](https://user-images.githubusercontent.com/1567498/62011667-a93dbc80-b17b-11e9-90bc-bf87c1324080.png)

[2019-07-28 19:10] schickling opened #22 "Implement new error design"
![image](https://user-images.githubusercontent.com/1567498/62011685-d4281080-b17b-11e9-8ad9-2ffc35cb6f94.png)

![image](https://user-images.githubusercontent.com/1567498/62011706-1f422380-b17c-11e9-8938-efc1683a94ac.png)

[2019-07-28 19:13] schickling opened #28 "Detailsbar: Opening related to-many record results in "fatal error""
Example schema

[code]

[2019-07-28 19:37] schickling opened #27 "Databrowser: You shouldn't be able to scroll the table head separately from the results"
![image](https://user-images.githubusercontent.com/1567498/62011962-ec019380-b17f-11e9-95d4-b6dec42e1f2a.png)

[2019-07-31 15:37] schickling opened #4 "Handle nested deletes via prompt"
[See slack chat](https://prisma-company.slack.com/archives/CEYCG2MCN/p1564587011122400)

[2019-07-31 17:03] schickling opened #26 "Changing enum values is broken"
https://www.loom.com/share/2a4ff3c675c64ab38dcd946aa0a19356

[2019-07-31 17:03] schickling opened #44 "Changing enum values is broken"
https://www.loom.com/share/2a4ff3c675c64ab38dcd946aa0a19356

[2019-08-05 10:28] sdnts opened #24 "Ability to handle multiple projects"
Project config in Local Storage should be keyed by project, rather than dumping it all at the root level. Keys must be a function of the Project ID (which would be the project path, unless we decide otherwise)

[2019-08-05 11:55] sdnts opened #23 "Pagination for all queries"
Document that I receive when sending a photon query needs to be modified to inject `first` and `last` parameters in there.

Photon then needs to use this document to send the request to the binary

[2019-08-13 15:12] sdnts opened #21 "Infinite scrolling for results table"
Instead of a separate pagination component in the results table, they should scroll and fetch more records as we reach the bottom.

[2019-08-13 15:15] sdnts opened #19 "Add a tree component as an alternative to the results table."
![tree-results](https://user-images.githubusercontent.com/1710629/63008723-75ed7400-be83-11e9-9235-a26717e1181d.png)

[2019-08-13 15:18] sdnts opened #18 "Switching between the table view and the tree view for results"

[2019-08-13 15:19] madebysid opened #6 "Visual query builder"
![vqb](https://user-images.githubusercontent.com/1710629/63005638-3ae84200-be7d-11e9-906c-f4793f39b8f2.png)

(More on Figma)

[2019-08-13 15:23] sdnts opened #20 "Scratchpad"
![scratchpad](https://user-images.githubusercontent.com/7689783/63005087-1c357b80-be7c-11e9-8caa-171c22d292fb.png)

[2019-08-16 13:29] schickling opened #7 "Add Sentry to Studio (Web/Desktop)"

[2019-08-16 14:03] kuldar opened #8 "Breadcrumbs in databrowser"
**Idea needs verification**
Mock out a design for a databrowser that opens relations in a new, nested table.

1. Bob opens a `user` model
2. Bob clicks on a `posts` cell of a user record
3. The `user` table is replaced by `posts` table that shows only posts related to the user
4. Somewhere in the databrowser UI, a breadcrumbs element appearas with `User/Posts/` breadcrumb trail that would allow to

[2019-08-16 14:07] kuldar opened #9 "Opening relations in new tabs"
**Behavior**

1. Bob opens a `user` model
2. Bob clicks on a `posts` cell of a user record
3. The `posts` table with users posts is opened in a new tab and immidiately opened

[2019-08-20 11:13] madebysid opened #10 "Tabs infrastructure"
Tabs are the physical manifestation of sessions.

This issue is mainly concerned with:

1. Adding a Tab bar at the top that allows switching between open tabs.
2. Ability to open multiple models at the same time and switch between them

[2019-08-20 11:13] madebysid opened #11 "New tab dropdown"
![68747470733a2f2f692e696d6775722e636f6d2f766566453235582e706e67](https://user-images.githubusercontent.com/7689783/63341718-265aec80-c34a-11e9-8e62-e58b8c5f35b2.png)

Depends on prisma/studio#10

[2019-08-20 11:17] madebysid opened #12 "Collapsible sidebar"
Sidebar that only shows models and saved tabs when hovered over.

Collapsed:
![Desktop](https://user-images.githubusercontent.com/7689783/63342837-c9ad0100-c34c-11e9-8447-02b306563435.png)

Hovered:
![User](https://user-images.githubusercontent.com/7689783/63342844-cfa2e200-c34c-11e9-8dd0-ba9a4f1f24e5.png)

Expanded:
<img width="1210" alt="Screenshot 2019-08-20 at 13 18 20" src="https://user-image

[2019-08-20 11:20] madebysid opened #13 "Saved tabs"
Add ability to save a tab to the sidebar

![User](https://user-images.githubusercontent.com/7689783/63343005-3aecb400-c34d-11e9-9bd1-16fa9fbdb1e8.png)

[2019-08-20 11:22] madebysid opened #14 "Preview Tabs"
When a saved tab is opened, it stays in "preview" mode until you make a change, or you double click it to make it sticky.

![68747470733a2f2f692e696d6775722e636f6d2f504579535876632e706e67](https://user-images.githubusercontent.com/7689783/63343069-65d70800-c34d-11e9-924c-a87cceaf4804.png)

Full spec here: https://github.com/prisma/specs/tree/master/studio#tab-states

[2019-08-20 11:23] madebysid opened #15 "Dirty tabs"
Tabs need to implement a dirty check logic for when you change something that mutates the tab data.

![68747470733a2f2f692e696d6775722e636f6d2f7743445358637a2e706e67](https://user-images.githubusercontent.com/7689783/63343196-adf62a80-c34d-11e9-8a87-c5fc7c286b38.png)

What this "something" is is detailed here: https://github.com/prisma/specs/tree/studio/studio#dirty-tab

[2019-08-20 11:32] madebysid opened #16 "Switching between visual query mode and code mode"
When working with a query or a model, you can switch between these two. These are not two way bound.

For models, code is immutable.

[2019-08-21 07:52] schickling opened #1 "Keyboard shortcut overview when pressing `CMD + /`"
We should show a keyboard shortcut overview when pressing `CMD + /` like a lot of apps do. E.g. Google Calendar

![image](https://user-images.githubusercontent.com/1567498/63413136-62995600-c3f9-11e9-8164-e5b8217fc7ac.png)

[2019-08-22 08:49] sdnts opened #17 "Scratchpad"
![scratchpad](https://user-images.githubusercontent.com/7689783/63005087-1c357b80-be7c-11e9-8caa-171c22d292fb.png)

[2019-08-22 08:49] #17 closed, assigned to nobody

[2019-08-22 08:49] #18 closed, assigned to sdnts

[2019-08-22 08:49] #19 closed, assigned to sdnts

[2019-08-22 08:50] #20 closed, assigned to sdnts

[2019-08-22 08:51] #21 closed, assigned to sdnts

[2019-08-22 08:51] #22 closed, assigned to sdnts

[2019-08-22 08:54] #23 closed, assigned to sdnts

[2019-08-22 08:54] #24 closed, assigned to sdnts

[2019-08-22 08:55] schickling opened #25 "Changing enum values is broken"
https://www.loom.com/share/2a4ff3c675c64ab38dcd946aa0a19356

[2019-08-22 08:55] #25 closed, assigned to nobody

[2019-08-22 08:55] #26 closed, assigned to sdnts

[2019-08-22 08:55] #27 closed, assigned to sdnts

[2019-08-22 08:57] #28 closed, assigned to sdnts

[2019-08-22 08:57] #29 closed, assigned to sdnts

[2019-08-22 08:57] #30 closed, assigned to nobody

[2019-08-22 08:58] #31 closed, assigned to nobody

[2019-08-22 08:58] #32 closed, assigned to sdnts

[2019-08-22 08:58] #33 closed, assigned to sdnts

[2019-08-22 08:59] #34 closed, assigned to sdnts

[2019-08-22 08:59] #35 closed, assigned to sdnts

[2019-08-22 08:59] sdnts opened #36 "Improve build and packaging workflows"
Action items:
1. Move code around to be able to reuse the react app in multiple environments

Expected outcomes:
1. Automated version bumps & releases
2. Ability to add a new environment to run the react app in (like a Lambda)

Suggested structure:

<img width="882" alt="Screenshot 2019-06-25 at 11 30 50" src="https://user-images.githubusercontent.com/7689783/60087152-b9a5e600-973c-11e9-88c0-c2c05

[2019-08-22 08:59] #36 closed, assigned to nobody

[2019-08-22 08:59] #37 closed, assigned to sdnts

[2019-08-22 08:59] #38 closed, assigned to sdnts

[2019-08-22 08:59] #39 closed, assigned to sdnts

[2019-08-22 09:00] #40 closed, assigned to nobody

[2019-08-22 09:00] #41 closed, assigned to nobody

[2019-08-22 09:00] #42 closed, assigned to nobody

[2019-08-22 09:00] #43 closed, assigned to nobody

[2019-08-22 09:01] #44 closed, assigned to nobody

[2019-08-22 16:20] schickling opened #45 "Temporary error telemetry flow in Studio"
- Interactive prompt (options: yes, always, no, never)
- Link to temporary telemetry docs (see https://github.com/prisma/prisma2/issues/396)

[2019-08-23 07:14] madebysid commented on #12
Done. Will be out in the latest alpha soon

[2019-08-23 07:14] #12 closed

[2019-08-23 07:14] madebysid commented on #6
Done. Will be out with the next alpha

[2019-08-23 07:14] #6 closed

[2019-08-23 07:15] madebysid commented on #16
Will be out with next alpha

[2019-08-23 07:15] #16 closed

[2019-08-23 08:29] madebysid opened #46 "Empty state for table/tree when there are no records"
This applies when:
1. There are no records in a table at all
2. No records match the filters you've set

[2019-08-23 08:30] schickling opened #47 "Tree view: Some scalars are missing an icon"
![image](https://user-images.githubusercontent.com/1567498/63578531-f9e4e180-c590-11e9-897a-2f1a51c825e4.png)

[2019-08-23 08:30] madebysid opened #48 "Always maintain order of fields in the table"
Currently, when a field is disabled and then enabled again, it is pushed to the end of the table's columns. No. Always maintain field order from schema.

[2019-08-23 08:32] schickling opened #49 "Design idea: Apply "type icons" from tree view to table header"
Apply this ...

![image](https://user-images.githubusercontent.com/1567498/63578698-50eab680-c591-11e9-8425-0f982816997a.png)

... to the table header (maybe even go from two lines to one line in order to be more space efficient)

![image](https://user-images.githubusercontent.com/1567498/63578641-31ec2480-c591-11e9-81c5-1d427df7731c.png)

[2019-08-23 08:40] schickling opened #50 "Improve loading state for table + tree view"
https://www.loom.com/share/9d35fbd9ea3b45b9a7521d9faae3407b

[2019-08-23 08:42] madebysid commented on #47
Specifically:
1. Numbers
2. Enums
3. DateTime

[2019-08-23 13:12] madebysid commented on #10
Will be out on alpha soon.

[2019-08-23 13:12] #10 closed

[2019-08-23 14:01] madebysid opened #51 "What would temporary tab titles be?"
In other words, tabs that were created by detaching from a preset, but aren't yet saved.

Currently, I'm using `Copy of <model-name>`

[2019-08-23 14:01] madebysid opened #52 "What happens when you close the last tab?"
I know we decided on not having an "empty" tab, but when you're on your last tab and you click on the close button and it just switches you to the first model "preset", the app feels broken because it doesn't do what you think it would.

Am I thinking too much into it?

[2019-08-23 14:02] madebysid opened #53 "Better flow for creating an "empty" script"
As I understand it, the only way currently is to open an existing model/saved tab and change either the code or the query builder. (so that it detaches itself from the preset)

There used to be a `New Query` button, whose equivalent is essentially what's missing with tabs.

Maybe the New tab dropdown could have such an option

[2019-08-23 14:04] madebysid opened #54 "Introduce a way to create a record"
I've put in a plus button next to the Run button, but I'm not sure if that's where we want it. Couldn't find an up-to-date artboard with it on Figma.

[2019-08-23 14:07] madebysid commented on #45
@schickling Could this be moved to the next cycle's candidate? Not completely sure what this entails, and me not being here this week doesn't help either.

[2019-08-23 14:33] schickling opened #55 "Databrowser: Should we keep the details sidebar?"
![image](https://user-images.githubusercontent.com/1567498/63600338-ab046f80-c5c3-11e9-8fa1-c8c8ae2bd96d.png)

[2019-08-23 14:47] schickling opened #56 "Visual query builder: Better filter workflow"
![image](https://user-images.githubusercontent.com/1567498/63601432-af318c80-c5c5-11e9-896d-d09eda1a5c30.png)

[2019-08-23 15:30] janpio commented on #45
Will pick up again with @tim when both are back.

[2019-08-23 17:18] madebysid opened #57 "Enable the "Open a project" flow for Electron"

[2019-08-23 17:19] madebysid opened #58 "Project selector on Electron needs to be scrollable on smaller screens"
![image](https://user-images.githubusercontent.com/7689783/63610894-d9417980-c5da-11e9-8f2e-dd7dd0f416ce.png)

[2019-08-23 17:30] madebysid commented on #56
Specifically:
When you add a new filter, it is "invalid" by default. So no records match, hence the white screen.

Perhaps we always add a valid filter, or defer filtering until after you close the tooltip. Both can get annoying though.

[2019-08-23 18:10] madebysid opened #59 "Better visibility for "Saved Tabs""
Currently, I hide the Saved Tabs drawer completely if you have none. This makes it not-so-discoverable.

Maybe we can have an empty state that educates people how to used Saved tabs?

[2019-08-23 18:31] madebysid commented on #15
Done 💪

[2019-08-23 18:31] #15 closed

[2019-08-23 18:31] madebysid commented on #13
Done 💪

[2019-08-23 18:31] #13 closed

[2019-08-23 18:32] madebysid opened #60 "Designs for when you try to close a dirty tab"
Came up with this hot mess:

<img width="765" alt="Screenshot 2019-08-23 at 20 36 12" src="https://user-images.githubusercontent.com/7689783/63615448-aa7cd080-c5e5-11e9-9d5d-d40870bef200.png">

[2019-08-23 23:35] madebysid opened #61 "Add ability to open the same script in multiple tabs"
Currently, one and only one session holds one script, AND any changes to a script are made on the script itself. This makes it impossible to open the same script in multiple tabs.

To be able to do this, I need to do these things:

1. Save all changes to a script in the session rather than the script, so that you can open a dirty version of the script in one tab, and a clean version in another. Al

[2019-08-23 23:36] madebysid commented on #61
@schickling Leaving a comment here to make sure we actually do want to support this. I don't see why not.

[2019-08-23 23:41] madebysid opened #62 "Manage orphaned sessions"
As you make script dirty and save them, or close a tab discarding changes, these scripts are going to leave behind:

1. Sessions that had this script loaded, but a discard meant that these sessions hold scripts that can no longer be opened
2. Scripts that can no longer be opened

Clean these up at appropriate times to avoid a session/script overflow.

[2019-08-23 23:59] madebysid opened #63 "Improve sidebar hover interaction"
It is very easy to accidentally close the sidebar when moving your cursor from the sidebar's 50x50px button to an actual model.

Although it will be possible to have the sidebar stick by expanding it, just creating this issue so we can have a discussion.

[2019-08-24 07:55] unsafecreds opened #64 "More tests for Electron-only flows"

[2019-08-24 10:20] schickling commented on #61
Yes, we definitely want to remove this limitation.

[2019-08-24 10:27] schickling opened #65 "Visual filter builder: Add support for a "Any field" option"
This also influences (and probably limits) the possible compare operations. (First take: Intersection of all compare operations of all fields.)

[2019-08-24 13:54] #11 closed

[2019-08-24 13:55] #48 closed

[2019-08-24 14:42] #7 closed

[2019-08-25 14:29] schickling opened #66 "Add "Reload" button + report issue flow"
![image](https://user-images.githubusercontent.com/1567498/63651485-f7f25e00-c709-11e9-8ef6-bdb424a13e84.png)

[2019-08-25 14:30] schickling opened #67 "Tree view: Error when expanding an empty list"
![image](https://user-images.githubusercontent.com/1567498/63651506-338d2800-c70a-11e9-8cb8-bcd98f5aeb24.png)

![image](https://user-images.githubusercontent.com/1567498/63651480-ee68f600-c709-11e9-8f30-a2e7f72e12d4.png)

[2019-08-25 14:32] schickling opened #68 "Tree view: Add loading indicator (and other improvements)"
https://www.loom.com/share/5dc4914512f64d27b3a31f9f2468479e

[2019-08-25 17:51] schickling opened #69 "Project selection in desktop app: Previously connected projects are not remembered"
![image](https://user-images.githubusercontent.com/1567498/63653793-4f9ec280-c726-11e9-9f81-2613c3fe8625.png)

[2019-08-25 17:53] schickling opened #70 "Very slow for larger collections"
UI freezes / is unresponsive: https://www.loom.com/share/957ae7efad2047cd920f2f537d3bf4c2

Repro:

DB backup: [postgres.gz](https://github.com/prisma/studio/files/3538435/postgres.gz)

Prisma schema:

[code]

[2019-08-25 18:11] schickling opened #71 "Horizontal scrolling bug"
https://www.loom.com/share/a2c5100e416a4855a9d92342522724cf

[2019-08-25 18:13] schickling opened #72 "Rethink "save a project" flow"
![image](https://user-images.githubusercontent.com/1567498/63653988-4b27d900-c729-11e9-823e-e7b27c37d8b5.png)

[2019-08-27 00:47] kuldar commented on #47
I added the SVGs for the missing types. Here's an overview of all of the current icons.
![types](https://user-images.githubusercontent.com/1710629/63732491-e1b4e100-c874-11e9-861e-51a90d89c4ac.png)

[2019-08-27 00:47] #47 closed

[2019-08-27 00:51] kuldar commented on #66
Here is an updated design for the errors. It might look less jarring if the error modal doesn't take up the whole screen, but shows the disabled UI in the background (maybe even grayscaled). Optionally a suitable place for mild panic icon.

I'm guessing the "Report an issue" button would link to a new Github issue form.

![error](https://user-images.githubusercontent.com/1710629/63732609-4b34ef80-

[2019-08-27 00:55] kuldar commented on #63
I think what would help a lot already is to mimick the `padmin-prototype` behaviour, and have the sidebar stay open during the whole sidebar area hovering, not just the 50x50 icon.

https://padmin-prototype.netlify.com

![sidebar](https://user-images.githubusercontent.com/1710629/63732748-f8a80300-c875-11e9-9489-1f0b9c3179c2.gif)

[2019-08-27 00:58] kuldar commented on #49
Here's a mockup of the idea.

It does allow to save some vertical space, although the downside is lack of type visibility for relations and which values are optional. (If it's not as important, we could also put that information in a tooltip visible on hover).

![table-type-icons](https://user-images.githubusercontent.com/1710629/63732876-7ec44980-c876-11e9-9b00-c81070af58cb.png)

[2019-08-27 01:02] kuldar commented on #50
Should this be alleviated with triggering the requets for new rows sooner?

Here's few mockups for "placeholder rows" if we should need them though.

![table-row-placeholders](https://user-images.githubusercontent.com/1710629/63732945-cc40b680-c876-11e9-8d70-0f4431740289.png)
![tree-row-placeholders](https://user-images.githubusercontent.com/1710629/63732946-ccd94d00-c876-11e9-8750-e4684a4e1314.pn

[2019-08-27 01:05] kuldar commented on #53
Good point, I think we should definitely have a "New databrowser" action in the "quick open" menu, but we should also add an explicit button in the sidebar perhaps.

![new-databrowser](https://user-images.githubusercontent.com/1710629/63733057-483afe80-c877-11e9-8f9c-8b2d9ceac4b6.png)
![new-databrowser-hover](https://user-images.githubusercontent.com/1710629/63733056-483afe80-c877-11e9-8a0c-aa6a23

[2019-08-27 01:06] kuldar commented on #54
I think that's an ok placement for the button for now. But perhaps label it "Add row"?

![dashboard](https://user-images.githubusercontent.com/1710629/63733177-994af280-c877-11e9-9ab8-1d6ec7f1f469.png)

[2019-08-27 01:08] kuldar commented on #60
Few style adjustments to the modal

![dirty-tab-confirmation](https://user-images.githubusercontent.com/1710629/63733239-d7e0ad00-c877-11e9-9243-561f22f0550f.png)

[2019-08-27 01:12] kuldar commented on #52
It's a good question. I'd propose to have the "development" dashboard not as a tool in the sidebar, but as the "main" view for a project. So if you close all your tabs, you end up in the dashboard view. (This is also very similart to how Figma works).

This minitab could also serve as a way to indicate problems with the connection etc.

![dashboard](https://user-images.githubusercontent.com/171062

[2019-08-27 01:14] kuldar commented on #65
I wasn't able to find documentation for Photon's filtering capabilities in the `specs` repo. Might they be somewhere else?

[2019-08-27 01:16] kuldar commented on #68
For the gray preview info loading, we probably don't want the state to be too distracting. Maybe a variation of pulsating three dots is subtle enough for a loading state?

https://codepen.io/cely717/pen/yYZOZR

[2019-08-27 01:19] kuldar commented on #51
One downside to prefixing new tabs with `Copy of` is that it's very easy to get into a `Copy of Copy of Copy of Users` situation.

If the names don't need to be unique, then maybe the easiest behavior right now would be to keep the same name until user changes it?

Or alternatively we could append a number to the name so duplicating `Users` becomes `Users 1` and duplicating `Users 1` becomes `User

[2019-08-27 01:25] kuldar opened #73 "Project dashboard"
Current proposal for the dasboard is to have it be the "root" view of a project. Gives an overview of the running processes and their statuses, as well as enables to take "project-level" actions.

![dashboard-view](https://user-images.githubusercontent.com/1710629/63733759-f5af1180-c879-11e9-972e-27a25c02d102.png)
![dashboard](https://user-images.githubusercontent.com/1710629/63733761-f647a800-c87

[2019-08-27 01:28] kuldar opened #74 "Limbo/"Dirty" states"
Once user changes or adds any data, the "limbo" cells are highlighted and the total number of changes is shown. If any of the changes are "illegal" (null value for non-null field etc), the "save" button is disabled.

![limbo](https://user-images.githubusercontent.com/1710629/63733884-66eec480-c87a-11e9-9642-3927e6b3467d.png)
![limbo-table-invalid](https://user-images.githubusercontent.com/1710629/

[2019-08-27 01:31] kuldar opened #75 "Feedback popup"
A proposal for a help button that opens a popup to leave feedback, as well as links to few key resources. To make feedback process tiny bit more playful, the slider could change emojis based on the scroll position. From 😡 to 😍

![feedback-slider](https://user-images.githubusercontent.com/1710629/63734082-25124e00-c87b-11e9-8145-9e34be4f494a.png)
![feedback-buttons](https://user-images.githubuserco

[2019-08-27 09:46] nikolasburk commented on #45
Does this need an extra spec or is this enough? https://prisma-specs.netlify.com/cli/telemetry/

Basically the wording in Studio should be similar, but I'm guessing the UI will be a bit different?

If there should be an extra spec, where should it live ideally?

[2019-08-29 15:08] ragnorc opened #76 "Open Source"
Are there any plans to open source Prisma Studio?

[2019-08-29 15:20] schickling commented on #76
Not at this point but we might consider it a bit further down the road. What would you see as the biggest benefits (or more generally "reasons") of open sourcing Prisma Studio for your particular case?

In all transparency: The reason why we haven't open sourced Prisma Studio (yet) is because there might be an overlap in the features of Prisma Studio and Prisma Cloud (which will be our commercial

[2019-08-29 19:53] ragnorc commented on #76
I guess that users have very particular needs with regard to an admin dashboard. Open sourcing would make it possible to customise it to a greater extent.

[2019-08-31 00:05] schickling opened #77 "Init flow"
We should map out how we could map the `prisma init` flow into Studio.

Workflow gist: Someone simply clones a git repository, runs `yarn` and `yarn dev` and everything follows from here. That means whatever necessary steps a developer has to take they can do it the Studio tab.

Related: Should SQLite be the default database for local development?

**Design update**:

![image](https://user-images.

[2019-09-01 00:00] schickling opened #78 "Dev Dashboard"
I suggest to move the real-time CLI output ("UI") of `prisma dev` to a new "Dev Dashboard" tab into Prisma Studio. The `prisma dev` output should become an append-only stream that can become part of someone's app server or NPM script.

![image](https://user-images.githubusercontent.com/1567498/64070213-d5cc7480-cc10-11e9-9a14-efa969048b00.png)

[2019-09-02 00:39] schickling opened #79 "Visual init flow"
We should explore whether we can/should move the `prisma init` flow into Prisma Studio. It would allow for much deeper optimizations.

[2019-09-03 14:29] nikolasburk opened #80 "Arrow-button on the bottom-left doesn't make the sidebar stick"
Arrow-button on the bottom-left doesn't make the sidebar stick.

![image (15)](https://user-images.githubusercontent.com/4058327/64182118-f93d2c80-ce67-11e9-8f3f-bd33025fafe5.png)
![image (16)](https://user-images.githubusercontent.com/4058327/64182119-f9d5c300-ce67-11e9-96d4-0145f6f34842.png)

[2019-09-04 08:41] madebysid commented on #57
This will need to be moved to the next release. The new introspection binary (used for SQLite introspection) needs to be handled by the Photon engine the same way it handles query and migration binaries. Tracked here: https://github.com/prisma/photonjs/issues/213

[2019-09-04 08:42] madebysid commented on #70
Should be a lot better now.

[2019-09-04 08:42] #70 closed

[2019-09-04 08:46] madebysid commented on #71
Fin.

[2019-09-04 08:46] #71 closed

[2019-09-04 12:06] #62 closed

[2019-09-04 12:06] madebysid commented on #62
Done

[2019-09-04 15:29] schickling opened #81 "Adjust design for browser-based Studio"
![image](https://user-images.githubusercontent.com/1567498/64269088-259b8c00-ceee-11e9-9301-550f631f8aef.png)

[2019-09-04 15:32] schickling opened #82 "Enums are not rendered"
![image](https://user-images.githubusercontent.com/1567498/64269297-81feab80-ceee-11e9-8a23-f0db4fad9695.png)

[2019-09-05 08:22] madebysid commented on #82
Fixed on alpha.161

[2019-09-05 08:22] #82 closed

[2019-09-05 08:23] madebysid commented on #80
Fixed on alpha.161

[2019-09-05 08:23] #80 closed

[2019-09-05 08:29] madebysid commented on #60
Available in alpha.161

[2019-09-05 08:29] #60 closed

[2019-09-05 10:44] madebysid opened #83 "Preserve expanded nodes on results tree when switching between tabs"
Currently, you share the same tree component between all tabs, and it is keyed by the tab id. This causes React to re-mount the component when switching between tabs. This is needed so that internal state is reset (expanded nodes in one tab do not interfere with expanded nodes in another tab).

It would be ideal if this state is preserved somehow without having to have separate components for ever

[2019-09-05 10:46] madebysid commented on #78
While this is a candidate, it needs to be noted that the amount of prep work required to separate this logic out of the CLI before I can actually implement it in Studio might mean this gets deferred. I'll know once Tim is back!

[2019-09-05 10:51] madebysid commented on #67
Possibly related to https://github.com/prisma/studio/issues/68

[2019-09-05 11:23] madebysid commented on #50
Will add in skeleton rows too, but with a few perf improvements in alpha.160, white spaces like the one you saw should become pretty rare!

[2019-09-05 11:25] madebysid commented on #50
IMO let's also defer this until after we have a way to know exactly how many records exist in a table.  I can then show the correct number of skeleton rows. Thoughts?

[2019-09-05 11:35] madebysid commented on #53
Just to confirm: when you create a new saved tab, it would really be a detached version of the first model' preset then?

[2019-09-05 11:37] madebysid commented on #51
The names don't have to be unique, so I've changed the behaviour so that the tab title stays the same until you "save" the tab!

[2019-09-05 11:37] #51 closed

[2019-09-05 11:39] madebysid commented on #9
Is this what we're going with to replace the details bar? A potential downside here is that long fields get pretty difficult to preview since we truncate them (in the table at least, for the tree, I could just increase the height of the row, but even that will have its limits)

[2019-09-05 11:41] madebysid commented on #8
I believe this can be closed in favour of #9 with the introduction of tabs? Please reopen if I'm mistaken!

[2019-09-05 15:28] schickling commented on #54
This still seems broken.

[2019-09-05 16:26] madebysid opened #84 "Always centered new tab dropdown"

[2019-09-05 16:39] madebysid commented on #54
Can you check if it works now? I pushed some changes to alpha

[2019-09-06 09:06] madebysid commented on #69
Does this also happen when you've selected `Save as project`?

If you don't, connections won't be remembered since we do not want to save credentials for "connect-only" projects.
Maybe we can save the connection, but prompt them to enter credentials when they try to open a recent project?

[2019-09-06 12:19] madebysid commented on #61
Internal restructuring done. Will be usable when Preview tabs show up.

[2019-09-06 12:19] #61 closed

[2019-09-06 12:32] madebysid opened #85 "Set up migrations for IndexedDB"
Since localStorage is not an option, we now have to take IndexedDB shape changes into account.

[2019-09-06 12:33] #85 closed

[2019-09-06 13:19] janpio commented on #85
This should probably already be in Preview 11 as Preview 10 was released yesterday.

[2019-09-06 13:24] madebysid commented on #85
@janpio I created this for documentation only really, this is already done and was released yesterday :P

[2019-09-06 13:28] madebysid opened #86 "How does limbo affect tabs?"
Currently, these are two separate entities that do not affect each other.

Cases I'm thinking of:

1. Does creating a new record make the current tab dirty?
2. If you create a new row in a preview tab, does it become sticky?

There might be a few other cases that we might want to discuss.

[2019-09-06 13:30] kuldar commented on #86
Yes, I think limbo state should turn the tab (both preview and sticky) into a dirty tab.

[2019-09-06 13:40] janpio commented on #85
Ah, makes sense.

[2019-09-06 13:53] madebysid commented on #86
The thing is, when you’re adding/updating a record, you’re not really changing what is saved (the model/saved tab). You don't save records in the sidebar, you save a script that fetches these records.

So while I understand the idea of making a tab dirty, having limbo as part of this raises other bigger problems: What happens if you close this tab, saving changes? Let's say we somehow commit ONLY

[2019-09-06 14:53] madebysid commented on #14
Will be out with alpha.165

[2019-09-06 14:53] #14 closed

[2019-09-06 16:19] yovanoc opened #87 "isDirty Error on Studio"
![image](https://user-images.githubusercontent.com/7302317/64443705-d06c9f80-d0d2-11e9-836d-3b734a4c0056.png)

last alpha

[2019-09-07 07:41] ansarizafar opened #139 "Prisma Studio endpoint error" This site can’t be reached""
I am using prisma2 preview 10 on Ubuntu 16.04 with Postgres here is my schema file
[code]

I am unable to access studio at  Studio endpoint: http://localhost:5555/ browser is showing "This site can’t be reached" message. No error is shown by prisma2 dev command
![image](https://user-images.githubusercontent.com/5788284/64471562-c0090300-d16c-11e9-8b10-f21cf4f50c38.png)

[2019-09-07 19:08] shoaibsharif opened #88 "Prisma Studio is not showing data at preview 10"
I can't see my data on Prisma Studio after installing primsa2.0.0-preview-10. It is showing up this error:
[code]

![Screenshot from 2019-09-07 11-21-54](https://user-images.githubusercontent.com/29075110/64478750-c47bee80-d161-11e9-926b-da27cabc9098.png)

[2019-09-07 19:31] madebysid commented on #87
Hey @yovanoc, are you on alpha.165? This looks like an issue with Studio's IndexedDB data. I've been making some significant changes to it, and that is probably what broke this.

You should be able to fix this by deleting the `Prisma Studio` database from IndexedDB. Fortunately, I pushed out a new alpha release that handles IndexedDB migrations in a better way today, so you shouldn't have to (hope

[2019-09-07 19:36] yovanoc commented on #87
Yeah, and same with alpha 166

![image](https://user-images.githubusercontent.com/7302317/64479447-7b568980-d1b7-11e9-968a-0e3187d2c4b9.png)

[2019-09-07 19:43] madebysid commented on #87
Ah my bad, the database Name should be `Prisma Studio` (line 10). I've fixed the snippet in my comment on top as well.

[2019-09-07 19:44] madebysid commented on #87
Once you get the dump, you should be able to delete the `Prisma Studio` database and get back to a working Studio

[2019-09-07 19:46] yovanoc commented on #87
There is still an error

![image](https://user-images.githubusercontent.com/7302317/64479537-e18fdc00-d1b8-11e9-8602-dfb8d42b469f.png)

But I have some data, here's the gist:

https://gist.github.com/yovanoc/21f0de1bd817212539524944fa62074b

[2019-09-07 19:50] madebysid commented on #87
Perfect, the issue is that the active tab according to IndexedDB, is a tab that does not exist. I'll debug how this happened. Were you able to delete the DB and have the Studio work again?

[2019-09-07 19:54] madebysid commented on #88
Hey @shoaibsharif, could you try updating to the latest alpha and try this again? `npm i -g prisma2@alpha`

[2019-09-07 19:57] yovanoc commented on #87
Yes perfect

[2019-09-08 03:11] shoaibsharif commented on #88
Yeah. You are right. Sorry for the late reply. I was reviewing your test on Ubuntu and MacOS. I confirmed that after upgrading `prisma2@alpha`, I am not facing any issue so far.

[2019-09-08 03:11] #88 closed

[2019-09-09 07:53] schickling commented on #8
We've been meaning to keep this open until @kuldar has come up with a mockup in order to get feedback from the community 🙏

[2019-09-09 08:36] kuldar commented on #86
If I'm understanding the problem correctly, the complexity comes from trying to access "uncommited" data changes from another tab?

I would see the tab limbo states to be more self contained. So when you have an "uncommited" new user in `tab 1`, you can't connect a post to it in `tab 2`, before you actually commit the changes to the database in the first tab.

[2019-09-09 08:52] madebysid commented on #86
Ah so the limbo state is local to a tab, rather than global as it is right now. That could work.

So then I'd imagine if you have the same script open in two tabs and change one of them, one tab would see the limbo state, but the other won't (until you commit). That makes more sense than a global limbo state!

Also on a side note, we should warn people that saving a tab with limbo means committing

[2019-09-09 08:59] kuldar commented on #86
I think the "query changes" and "data changes" should probably have a separate confirmation.

1. If you close a tab with no query changes but some pending limbo state, you'll be asked to commit or discard the data changes.
2. When you close a tab that has both query changes and pending limbo state, you'll be first asked about commiting or discarding the data changes, and then asked to save or disc

[2019-09-09 09:04] madebysid commented on #86
That's valid, I can see that happening too!

[2019-09-09 13:49] madebysid commented on #58
Will be out with the next release

[2019-09-09 13:49] #58 closed

[2019-09-09 14:28] kuldar commented on #59
Maybe something like this?
<img width="359" alt="Screenshot 2019-09-09 at 16 27 46" src="https://user-images.githubusercontent.com/1710629/64539444-cb9c2b80-d31e-11e9-88cf-3d0d57e3e57a.png">

[2019-09-10 08:30] madebysid commented on #3
Out with alpha.169.
This will be an ongoing process, so closing this.

[2019-09-10 08:30] #3 closed

[2019-09-10 10:30] madebysid commented on #66
Out with alpha.169

Unfortunately, the mild panic emoji is not in the standard emoji set, so we can't use that. A regular PNG image is nowhere near as crisp, especially right next to the text.

[2019-09-10 10:30] #66 closed

[2019-09-10 10:31] madebysid commented on #84
Out with alpha.169

[2019-09-10 10:31] #84 closed

[2019-09-10 10:31] madebysid commented on #49
Out with alpha.169

[2019-09-10 10:31] #49 closed

[2019-09-10 12:27] schickling opened #89 "Error message: Weird stacktrace encoding"
![image](https://user-images.githubusercontent.com/1567498/64613716-1f6a4b80-d3d7-11e9-9946-5dec30a7fd35.png)

[2019-09-10 12:31] madebysid commented on #89
Have stripped out ANSI characters from the stacktrace as well.
What caused this though? This is a fatal error, which probably means it came from a generated script.

[2019-09-10 14:16] madebysid commented on #87
Hey, I've been able to get to the bottom of this, the latest alpha (alpha.174 as of now) has a fix. It'll also land on the next preview this Thursday. Thanks for reporting!

Please reopen if you see this again.

[2019-09-10 14:16] #87 closed

[2019-09-10 14:16] madebysid commented on #89
Fixed with alpha.174. This happened with an invalid limbo state right?
Since I'm looking into limbo states anyway, I'll create some primitive validation as well.

[2019-09-10 16:01] madebysid opened #90 "Validate pending actions before committing"

[2019-09-10 16:02] madebysid commented on #89
Closing since this should be fixed. Tracking validation here: https://github.com/prisma/studio/issues/90

[2019-09-10 16:02] #89 closed

[2019-09-11 07:25] schickling opened #91 "Implement keyboard shortcuts"
Would be great to implement the following keyboard shortcuts: https://github.com/prisma/specs/tree/master/studio#keyboard-navigation

Related to #3.

[2019-09-11 07:28] schickling opened #92 "Clicking outside the editable cell should unselect it"
https://www.loom.com/share/feeb8ef9e13a4e14aef1c957b522ef9b

[2019-09-11 07:30] schickling opened #93 "Bad contrast for relation counter in selected row"
![image](https://user-images.githubusercontent.com/1567498/64676786-9f93be00-d476-11e9-8dcf-725f320c5f2f.png)

[2019-09-11 07:31] schickling opened #94 "Bug for selected record"
https://www.loom.com/share/2f48726dcdf14c529bb27e77192f8e2c

[2019-09-11 07:34] schickling opened #95 "Adjust designs: Rename "Add row" to "Add record""
![image](https://user-images.githubusercontent.com/1567498/64677131-52641c00-d477-11e9-899f-43a61fd70fd3.png)

[2019-09-11 07:36] schickling opened #96 "Date cell editing broken"
https://www.loom.com/share/cc4304cb311144ff897fe6eca4c6ddfa

[2019-09-11 07:36] schickling opened #97 "Editing boolean cell should directly open dropdown"
https://www.loom.com/share/cc4304cb311144ff897fe6eca4c6ddfa

[2019-09-11 07:38] schickling opened #98 "Clicking on JSON preview should toggle record"
https://www.loom.com/share/e977a651a41b49889a8d341cece543d7

[2019-09-11 07:40] schickling opened #99 "2 status enum bugs"
https://www.loom.com/share/9f00ce3e40d8492cb8543824379f5a3b

[2019-09-11 07:41] schickling opened #100 "Create relation bug"
![image](https://user-images.githubusercontent.com/1567498/64677673-504e8d00-d478-11e9-9994-1c2123bd12e8.png)

https://www.loom.com/share/08f1573f678f4e029265d2c52914448a

[2019-09-11 07:43] schickling opened #101 "Tabs should have minimal width"
Also: Design is slightly off.

Actual:

![image](https://user-images.githubusercontent.com/1567498/64677772-8ab82a00-d478-11e9-8caf-dd008621739a.png)

Expected:

![image](https://user-images.githubusercontent.com/1567498/64677794-94da2880-d478-11e9-9f24-3163ac7f69f6.png)

[2019-09-11 07:45] schickling opened #102 "Cell editing design is off"
https://www.loom.com/share/3d22f4faa1364e76a6475a0324ebad91

[2019-09-11 07:45] schickling opened #103 "How to navigate to related records?"
How do I navigate to the related `author` and/or `comments` here?

![image](https://user-images.githubusercontent.com/1567498/64677993-f13d4800-d478-11e9-8e06-0df114f9c049.png)

[2019-09-11 08:56] madebysid commented on #94
I think I might know what's happening here. Do you have three records in total, and you're fetching the first two at a time?

You've selected the one with email `test`. The store that saves the "active record" knows this. When you sort in ascending, that record isn't returned at all, so nothing is selected. When you sort in descending, it does get returned, and is selected. (Does this make sense?)

[2019-09-11 09:00] schickling commented on #95
@kuldar please also adjust in the designs.

[2019-09-11 09:01] schickling commented on #94
Does this mean you don't preserve the selected record across refetches?

[2019-09-11 09:02] madebysid commented on #98
Right, so about this, it is done so that clicking the arrow or the "label" (the thing that says Post) opens the record. If someone wants to copy the stringified object for some reason, it might be annoying if the record just opens up (I have this annoyance with Chrome DevTools :P )

But can change that if you confirm that it is not that common!

[2019-09-11 09:05] madebysid commented on #94
Well yeah.

[2019-09-11 09:05] schickling opened #104 "Implement cell selection"
Selected (e.g. via keyboard arrow keys):

![image](https://user-images.githubusercontent.com/1567498/64683646-f653c480-d483-11e9-9616-be5975c88bbd.png)

Editing:

![image](https://user-images.githubusercontent.com/1567498/64683683-0cfa1b80-d484-11e9-920a-874c2dc00e3c.png)

[2019-09-11 09:06] schickling commented on #91
Ideally this also includes support for #104.

[2019-09-11 09:07] schickling commented on #3
@madebysid does this follow what's outlined [in the spec](https://github.com/prisma/specs/tree/master/studio#keyboard-navigation)?

[2019-09-11 09:09] schickling commented on #98
I think it's not that common since it's just partial anyway. In case this is a common use case we should add a "copy to clipboard as JSON" flow for a given row (cc @kuldar).

[2019-09-11 09:10] madebysid commented on #101
Ah, right now, this is done so tabs have a max and a min width, and depending on the number of tabs, it changes so all of them can fit. Can change!

[2019-09-11 09:11] madebysid commented on #68
Out with alpha.175

[2019-09-11 09:11] #68 closed

[2019-09-11 09:12] madebysid commented on #67
Added a loading state for records, and a fallback for when you open a record before it is fetched. I'm pretty sure these two were related, because I was able to see this error as well. Fix is out with alpha.175

[2019-09-11 09:12] #67 closed

[2019-09-11 09:16] schickling opened #105 "Code snippet lost after reloading/reopening"
![image](https://user-images.githubusercontent.com/1567498/64684539-91996980-d485-11e9-93f8-24cd99f31dc9.png)

@madebysid let me know what you might need to repro this 🙏

[2019-09-11 09:20] madebysid commented on #94
It is bound to the ID field (selected record is `User::ck03lt...7rg`), but the record that is supposed to be selected isn't returned at all when you sort by `asc`.

A little weird, but: I could also see if the currently selected record still exists(is returned) after a request, and keep it, or clear selection if it doesn't?

[2019-09-11 09:22] madebysid commented on #3
Ah no not all of them, a few common ones for tabs were done, other focus based shortcuts are still unimplemented. Will add them as part of #91!

[2019-09-11 09:25] schickling opened #106 "Pagination is broken"
https://www.loom.com/share/9bcae4ced07f4975a03bd4241399b45a

[2019-09-11 09:26] schickling commented on #94
Sounds great!

[2019-09-11 09:28] madebysid commented on #105
I was able to see this as well, will be fixed with the next release!

[2019-09-11 09:29] schickling commented on #50
I think there's no harm in filling the screen with skeleton rows even if there are less than displayed while loading. Agree @kuldar?

[2019-09-11 09:32] schickling opened #107 "Keep bar open when hovering over area under the icon"
@kuldar do you agree with this?

https://www.loom.com/share/044955410ccd4b148cec7e373efa87bc

[2019-09-11 09:36] madebysid commented on #107
Same as #63 I believe?

[2019-09-11 09:39] #107 closed

[2019-09-11 09:41] schickling opened #108 "Browser based keyboard shortcuts"
There are currently a few keyboard shortcuts (e.g. `CMD + R`) that override browser specific shortcuts. We should discuss how we intend the behavior to be when using Studio in the browser as opposed to as a standalone desktop app. This is especially important as it seems like the browser version of Studio is the more common form of usage.

This is related to this spec: https://github.com/prisma/sp

[2019-09-11 09:45] schickling opened #109 "Weird scrolling bug when using code queries"
https://www.loom.com/share/ff69b028c8d242769a3b3c96eee0785f

[2019-09-11 09:54] schickling opened #110 "Disable expanding loading fields"
![image](https://user-images.githubusercontent.com/1567498/64687472-dd024680-d48a-11e9-91d8-21a2f50bfe26.png)

[2019-09-11 09:57] schickling opened #111 "Improve loading state for initially loading queries"
![image](https://user-images.githubusercontent.com/1567498/64687675-408c7400-d48b-11e9-9d96-2a5eeb7356f7.png)

Keep in mind that during the initial loading we do have the information about which kinds of fields we have but not about the column width (see #114).

[2019-09-11 10:00] schickling opened #112 "Rethink design for (to-many) relations in table"
![image](https://user-images.githubusercontent.com/1567498/64687959-bc86bc00-d48b-11e9-9777-82f2dd380df6.png)

[2019-09-11 10:09] schickling opened #113 "Allow for column resizing"
![image](https://user-images.githubusercontent.com/1567498/64688566-ea203500-d48c-11e9-8151-1c346ee0278e.png)

Open Questions:

- [ ] How/where to store resizing
- [ ] What should happen if the underlying schema changes?
- [ ] Should this state be shareable across teams? (Idea: This could be handled via Prisma Cloud)

[2019-09-11 10:11] schickling opened #114 "Auto-resize column width based on data of initial query"
![image](https://user-images.githubusercontent.com/1567498/64688133-040d4800-d48c-11e9-8279-1e7a18eb87ed.png)

We should auto-resize the column width based on data of initial query in order to display the data more efficiently. The resizing heuristic should just be used for the initial load in order to avoid unexpected column resizing when scrolling/paginating. (In case the user wants to resize th

[2019-09-11 10:14] schickling opened #115 "Equidistant column space distribution for databrowser columns"
I'm not a huge fan of the equidistant column space distribution for databrowser columns. I'd like to discuss whether we should just revert back to using the default column size outlined in #114 and accept potential unused whitespace to the right.

![image](https://user-images.githubusercontent.com/1567498/64688828-7599c600-d48d-11e9-94a0-bd044ff0f5f8.png)

[2019-09-11 11:04] madebysid opened #116 "Implement pagination for nested records in the Tree view"
Currently, if you expand a record with a 100K relations, they'll all just show up. Instead, show only the first 10, and load more using a `Load More` button (NOT infinite scroll). This will prevent a sudden performance degradation as soon as you open a record.

Also leads to situations like these:
![image](https://user-images.githubusercontent.com/7689783/64686823-9cee9400-d489-11e9-89f1-fcf5b9db4

[2019-09-11 11:25] madebysid opened #117 "Same tabs get restored multiple times"
Sometimes, the same tabs get restored multiple times, not sure how it happens, or when.

![image (1)](https://user-images.githubusercontent.com/7689783/64692853-52274900-d496-11e9-8231-77db69f7554c.png)

[2019-09-11 15:23] madebysid commented on #106
Should be fixed with alpha.176

[2019-09-11 15:23] #106 closed

[2019-09-11 15:23] #98 closed

[2019-09-11 15:24] madebysid commented on #102
If you meant the irregular alignment, that is fixed with alpha.176.

[2019-09-11 15:24] madebysid commented on #110
Should be fixed with alpha.176

[2019-09-11 15:24] #110 closed

[2019-09-11 15:24] madebysid commented on #109
Should be fixed with alpha.176

[2019-09-11 15:24] #109 closed

[2019-09-11 15:24] madebysid commented on #94
Out with alpha.176

[2019-09-11 15:24] #94 closed

[2019-09-11 15:24] madebysid commented on #101
Should be fixed with alpha.176

[2019-09-11 15:24] #101 closed

[2019-09-11 15:49] schickling commented on #50
Would be great to implement this soon as it's still very common for the cases I've tried. (I guess related to the fix for #106.)

[2019-09-11 16:20] schickling commented on #102
What I'm referring to is that the text which should be edited shouldn't "change" or "jump around". See this screenshot:

![image](https://user-images.githubusercontent.com/1567498/64715442-c2e35b00-d4c0-11e9-8576-6beb5046bf7d.png)

[2019-09-11 16:23] schickling opened #118 "Databrowser: Adjust visual state when record is selected"
Instead of this:

![image](https://user-images.githubusercontent.com/1567498/64715652-2cfc0000-d4c1-11e9-8a4c-8f164b529368.png)

Should be:

![image](https://user-images.githubusercontent.com/1567498/64715669-3a18ef00-d4c1-11e9-8f1c-58b020b84dd4.png)

[2019-09-11 16:34] schickling commented on #79
Closing as duplicate in favor of #77 🤦‍♂

[2019-09-11 16:34] #79 closed

[2019-09-11 16:38] madebysid opened #119 "Use prisma-client-js's aggregations"
Currently, `count` is not implemented in photon, but when it does, use that for the following cases:

1. When fetching the total number of records in a model's script
2. When fetching the count of related records in the table view

[2019-09-12 12:14] schickling opened #120 "Field selection: Add field type"
![image](https://user-images.githubusercontent.com/1567498/64783130-46f01e00-d567-11e9-9e33-aadf04c43e6b.png)

[code]

[2019-09-12 12:52] schickling opened #121 "Implement query options keyboard navigation"
https://github.com/prisma/specs/tree/master/studio#databrowser-scope

Maybe (initially) pair with @kuldar on this.

[2019-09-12 12:54] schickling opened #122 "Experiment with treat instead of SCSS"
https://seek-oss.github.io/treat/

Probably as part of #75

[2019-09-12 12:56] schickling opened #123 "Spec out data table keyboard navigation"

[2019-09-12 13:04] schickling opened #124 "Inline cell editing: How to set a value to null?"
Additional question: Should this be doable using only the keyboard as well?

[2019-09-12 13:05] kuldar opened #125 "Design a state for viewing and editing list of scalars/enums in a table"

[2019-09-12 13:22] kuldar opened #126 "Have a (hidden?) configuration panel for experimental settings"
Potential list of configurations:
- Exposed theme variables
- Table/content font size

[2019-09-12 13:29] schickling opened #127 "Add dark theme"

[2019-09-12 13:49] schickling opened #128 "Databrowser: Blank state of code queries"
![image](https://user-images.githubusercontent.com/1567498/64789549-d51ed100-d574-11e9-9e73-f73df5ea9b06.png)

[2019-09-12 13:56] schickling opened #129 "Rethink "New tab flow""
![image](https://user-images.githubusercontent.com/1567498/64790090-ce448e00-d575-11e9-91c8-22a77bc6b929.png)
![Image 3](https://user-images.githubusercontent.com/1567498/64790110-d997b980-d575-11e9-8a28-6f8781b6534b.jpeg)

[2019-09-12 14:35] schickling opened #130 "Add spinner when complex tree field is loading"
![image](https://user-images.githubusercontent.com/1567498/64793372-3d70b100-d57b-11e9-9ddc-ecc6741fc703.png)

Also remove the loading indicator behind the field

[2019-09-12 14:45] schickling opened #131 "Table view: Adjust font size to 13px (or smaller?)"

[2019-09-14 09:45] schickling opened #132 "Mockup for visual datasource introspection flow"
Goal: Generate Prisma schema based on an existing data source (e.g. Postgres schema)

Notes/Considerations:
- Options: Schema, sample data
- Remap/overwrite introspected schema

[2019-09-16 10:09] malekjaroslav opened #133 "Studio error"
<Anything that helps us reproduce the error goes here>

**Error dump**
Reason: Application logic invariant error: received null value for field provider which may not be null in query-engine/core/src/response_ir/read.rs:223:26

Please create an issue in the photonjs repo with
your `schema.prisma` and the Photon method you tried to use 🙏:
https://github.com/prisma/photonjs/issues/new

**Stacktrace*

[2019-09-16 10:11] #133 closed

[2019-09-17 16:25] CaptainChemist opened #134 "Prisma Studio in a docker container creates non-fatal errors when starting up."
When I run React Studio in a docker container, it all runs perfectly fine, but I get the following console logs in my docker-compose. It will repeat this error many many times when starting up. Any idea why this is occurring?

[code]

A working demo of this is over at: https://github.com/CaptainChemist/blog-prisma2 . Just build and then start it up to see the errors. This isn't critical because I

[2019-09-18 07:42] emolr opened #135 "Prisma Studio standalone (mac) - Can't append "?sslmode=prefer" to Connection string"
I'm running a managed Postgres database on Heroku that requires `?sslmode=prefer` to connect. ( Found this tip somewhere by @schickling 👍).

But when trying to connect in Prisma studio, it serializes the `?` into `%3F` and therefore makes the connection impossible.

I'm able to use studio via the `prisma2 dev` command and open `http://localhost:5555` in my browser.

[2019-09-18 23:19] vladimirvolek opened #136 "Error after connecting the database"
![image](https://user-images.githubusercontent.com/3112191/65193443-775e1d80-da7b-11e9-8ed7-4390d43d6b50.png)

[2019-09-19 06:25] gabrieltong opened #137 "[prisma2 sqlite] only create new user, then crash"
<Anything that helps us reproduce the error goes here>

**Error dump**
Cannot read property 'model' of null

**Stacktrace**

    in C
    in div
    in C
    in Unknown
    in div
    in div
    in t
    in div
    in ks
    in div
    in Ra
    in div
    in fr
    in u
    in div
    in fr
    in div
    in C
    in div
    in div
    in div
    in div
    in C
    in div
    in Unknown
    in u

[2019-09-19 08:10] AhmedElywa opened #138 "Models menu can't go down"
![image](https://user-images.githubusercontent.com/4535142/65225578-adc08a80-dac5-11e9-986f-36dcb409db07.png)

[2019-09-19 14:20] madebysid commented on #137
Hey @gabrieltong, did you create the user from within Studio, or via a script?

[2019-09-19 14:21] madebysid commented on #136
Hey @vladimirvolek, interesting that you're using the Electron version! Does this also happen when you open Studio when using `prisma dev`?

[2019-09-19 14:25] madebysid commented on #135
@emolr Ah, I was able to see this as well, I'll push out a fix soon and let you know!

[2019-09-19 14:27] madebysid commented on #134
Hey @CaptainChemist, thanks for the repro repo! I'll try it out today and figure out what's causing it.

[2019-09-19 19:06] nicke opened #140 "prisma studio failed to start"
When starting the newest prisma studio it shows only "Fallback Tab". In developer tools I see:

[code]

[2019-09-20 08:29] madebysid commented on #138
This should be fixed and available on the latest alpha now. (alpha.193). Please reopen if you're still it!

[2019-09-20 08:29] #138 closed

[2019-09-20 08:34] schickling opened #141 "Error when opening Studio in browser"
![image](https://user-images.githubusercontent.com/1567498/65312149-36a4f800-db92-11e9-947a-95e867065938.png)

[2019-09-20 08:42] schickling opened #142 "Selected cell: Hitting enter should make cell editable"

[2019-09-20 08:43] madebysid commented on #140
Hey @nicke, At first glance it looks like Studio messed up during initial load (from IndexedDB)

Could you do me a favour and dump all IndexedDB data and put it in a gist somewhere?
[code]

After this, if you clear IndexedDB, it should go back to normal. The IDB dump will probably help me figure out what broke. Thanks so much!

[2019-09-20 08:46] madebysid commented on #141
Was there a stacktrace you saw?

Or, my best guess: did you delete/rename a model? I need to handle this scenario anyway, this might be related?

[2019-09-20 08:49] schickling opened #143 "UI Regression: Improve design when `prisma dev` has stopped running"
![image](https://user-images.githubusercontent.com/1567498/65313099-1bd38300-db94-11e9-8bd9-dbc659b6c047.png)

Old design:

![image](https://user-images.githubusercontent.com/1567498/65313192-3f96c900-db94-11e9-8c4e-d29d23bfac5f.png)

[2019-09-20 09:12] madebysid commented on #143
Assigning to myself, the thing is behind the tab bar. Fixed now.

[2019-09-20 13:47] schickling commented on #141
Didn't change anything. Plain new project.

[2019-09-20 14:54] schickling opened #144 "Visualize whether field is nullable"
Problem: I'd like to see whether a field is nullable or not.

Screenshot (current version):
![image](https://user-images.githubusercontent.com/1567498/65336631-03c92700-dbc7-11e9-8796-f3ea5c7780a6.png)

Schema:
![image](https://user-images.githubusercontent.com/1567498/65336638-09267180-dbc7-11e9-8c95-6cafc7e4bc55.png)

This was visible in older design versions:

![image](https://user-images.githu

[2019-09-20 17:15] nicke commented on #140
Hi @madebysid,

this is the result of the script
{"actions":[],"enums":[],"fields":[],"models":[],"projects":[{"id":"ck0nnrjha0001xqjv226e9xse","activeTabId":"fallback-tab","tabOrder":[]},{"id":"ck0r2cjha0001n0ra647a1os6","activeTabId":"fallback-tab","tabOrder":[]}],"scripts":[],"sessions":[],"tabs":[]}

... and also this error:

VM111:20 Uncaught DOMException: Failed to execute 'objectStore' on '

[2019-09-22 14:28] radicand commented on #88
Thanks for this tip, I was running through the tutorial using `npx` commands instead of the global install and found I needed to do `npx prisma2@alpha dev` to solve this issue as well.

[2019-09-23 07:59] madebysid commented on #140
That's super weird, looks like an empty DB, but it failed to start. I did push out one more release since this, so could you also maybe try the latest alpha? (npm i -g prisma2@alpha). If you still see it, would it be possible to upload your project to a repo so I can reproduce it? Thanks!

[2019-09-23 10:26] madebysid commented on #142
Should be possible with alpha.194

[2019-09-23 10:26] #142 closed

[2019-09-23 10:26] madebysid commented on #143
Fixed with alpha.194

[2019-09-23 10:26] #143 closed

[2019-09-23 10:27] madebysid commented on #118
Fixed with alpha.194

[2019-09-23 10:27] #118 closed

[2019-09-23 10:27] madebysid commented on #102
Fixed with alpha.194

[2019-09-23 10:27] #102 closed

[2019-09-23 10:27] madebysid commented on #97
Fixed with alpha.194

[2019-09-23 10:27] #97 closed

[2019-09-23 10:29] madebysid commented on #96
@kuldar Do you think date cells should be edited as strings, or would there be a custom date selector of sorts?

Once we have validation (pretty soon), string inputs would suffice IMO. Thoughts?

[2019-09-23 10:29] madebysid commented on #99
@schickling Have you seen this recently?

[2019-09-23 10:30] madebysid commented on #54
@schickling Possibly fixed now?

[2019-09-23 14:18] schickling opened #145 "Tabs button is off"
![image](https://user-images.githubusercontent.com/1567498/65433633-ac70c400-de1d-11e9-9412-824c9a4b6f4e.png)

[2019-09-23 14:56] madebysid commented on #145
😅 Fixed with latest alpha

[2019-09-23 14:56] #145 closed

[2019-09-23 16:01] nicke commented on #140
... it seems to be a problem using postgresql. MySQL is working using the same schema.

[2019-09-23 16:43] madebysid commented on #140
Oh? Studio can't directly talk to your DB during `prisma2 dev`, so I think this might be something wrong on the CLI's end. Would it be possible to get the breaking schema? You could also create an issue on https://github.com/prisma/prisma2 if you can reliably reproduce the error, and someone should be able to take a look and figure out what's wrong!

[2019-09-23 17:35] madebysid commented on #134
Hello @CaptainChemist! Sorry about the delay, I was able to reproduce this!

I also noticed it was running on a pretty old version of prisma2 so I updated it to the latest alpha, but the error persisted.

This is actually not an issue with Studio, but with the prisma2 CLI. We use Ink (https://github.com/vadimdemedes/ink) for rendering the `prisma2 dev` screen, which is what you see (and hence the

[2019-09-24 07:06] kuldar opened #146 "Focus input automatically when opening "quick open" modal"
This lets user start searching immidiately instead of an extra click.
![quick-open](https://user-images.githubusercontent.com/1710629/65488952-72013880-deaa-11e9-8306-d1cdbf27a25a.gif)

[2019-09-24 07:14] kuldar opened #147 "Sidebar improvements"
- [x] Add a bit stronger dropshadow to expanded sidebar
- [x] The cursor should be a `pointer` only when hovering over a link. Currently it stays `pointer` while hovering over any sidebar area.
- [ ] Decide if we need to keep the "expand sidebar" button at the bottom

![sidebar](https://user-images.githubusercontent.com/1710629/65489443-7712b780-deab-11e9-8d3b-cbbc82b931a5.gif)

[2019-09-24 07:38] kuldar opened #148 "Databrowser table improvements"
- [x] When entering an edit mode on a boolean/enum cell, automatically make the current value be selected in dropdown and have the arrow keys affect the dropdown selection, not cell selection.
![enum-dropdown](https://user-images.githubusercontent.com/1710629/65490211-05d40400-dead-11e9-86d0-69e3535b3ffd.gif)

- [ ] When having a cell dropdown open, clicking on another cell should close the dropdo

[2019-09-24 07:47] madebysid commented on #147
@kuldar

This makes the sidebar sticky. The only other way to do that is by pressing Cmd+B. Are we thinking about getting rid of the stickyness altogether?

[2019-09-24 16:27] madebysid opened #149 "Automatically increase pagination count after committing a `create` action"
After you commit a create action, the pagination count remains the same, so the new record isn't fetched, so it looks like the record disappeared. When in visual mode, automatically manage pagination counts

[2019-09-24 16:28] madebysid opened #150 "Focus first cell when creating a row"

[2019-09-24 16:51] madebysid opened #151 "Websocket connection is not terminated properly"
![image-1](https://user-images.githubusercontent.com/7689783/65532537-460ea300-defc-11e9-872a-d55548360807.png)

Happens when `prisma2 dev` is running and causes the process to crash

[2019-09-25 07:27] madebysid opened #152 "Decide if we need to keep the "expand sidebar" button at the bottom"

[2019-09-25 07:28] madebysid commented on #147
Created https://github.com/prisma/studio/issues/152 for the Expand button discussion. The other two things on here should be out now on the latest alpha.

[2019-09-25 07:28] #147 closed

[2019-09-25 09:44] madebysid opened #153 "Should text in the results table be selectable?"
I'm talking specifically about the ability to do this:

![Screenshot 2019-09-25 at 11 28 56](https://user-images.githubusercontent.com/7689783/65588430-cdedbf00-df87-11e9-9aa5-73f6c6212c6d.png)

This really is a very small detail, doesn't need a long discussion, but it is something that came to mind while building it.

Initially, I thought that selecting a cell's value without editing it might be

[2019-09-25 09:47] madebysid commented on #148
@kuldar I've pushed out a version with fixes for the [x] items, please check it out and close this if it is all done!

A couple of notes on some items:

This was already happening, unless I misunderstood?

Here's a discussion: https://github.com/prisma/studio/issues/153

This is not very simple to do the way I've implemented "click-outside"s. If this is something that you think is really worth it,

[2019-09-25 09:54] sdnts opened #154 "Editing in the results tree"

[2019-09-25 12:50] madebysid opened #155 "Table header and content scroll is out of sync"
Render the header with the virtualized list as a sticky item rather than try to sync scroll points.

[2019-09-25 12:51] madebysid opened #156 "Don't show internal ID when creating a new record"
Internal IDs for fields don't really mean anything. Perhaps show a static text instead (We used to say `ID will be autogenerated before)

![Screenshot 2019-09-25 at 14 50 41](https://user-images.githubusercontent.com/7689783/65602256-deac2e00-dfa3-11e9-8e8d-3bcc0fda7ce4.png)

[2019-09-25 12:53] madebysid opened #157 "Non-editable UI for fields when connecting to a read-only database."
Fields like the ID, createdAt, updatedAt are special fields that you cannot really change, but they hold values. @timsuchanek suggested we mark them as non-editable in the header somehow.

@kuldar Thoughts?

[2019-09-25 13:02] madebysid commented on #148
@kuldar I've pushed out a version (alpha.205) with fixes for the ticked items, please check it out and close this if it is all done!

A couple of notes on some items:

This was already happening, unless I misunderstood?

Here's a discussion for this: #153

This is not very simple to do the way I've implemented "click-outside"s. If this is something that you think is really worth it, I'll create a

[2019-09-25 13:02] madebysid commented on #149
Will be out with alpha.205

[2019-09-25 13:02] #149 closed

[2019-09-25 13:02] madebysid commented on #150
Will be out with alpha.205

[2019-09-25 13:02] #150 closed

[2019-09-26 01:49] rpatelcode opened #158 "Cannot read property 'model' of null"
![image](https://user-images.githubusercontent.com/27360619/65651964-1b951680-dfde-11e9-92a2-1c8abe781b73.png)

**Error dump**
Cannot read property 'model' of null

**Stacktrace**

    in C
    in div
    in div
    in fr
    in div
    in t
    in C
    in C
    in div
    in div
    in div
    in div
    in C
    in div
    in Unknown
    in u

[2019-09-26 01:53] rpatelcode commented on #158
![image](https://user-images.githubusercontent.com/27360619/65652165-de7d5400-dfde-11e9-99fb-7075cfe59da8.png)

[2019-09-26 08:51] schickling opened #159 "Render versions of dependencies in console.log"
![image](https://user-images.githubusercontent.com/1567498/65673685-8df01000-e04b-11e9-97c5-d6ba7d407280.png)

Related:

- #180

[2019-09-26 08:52] schickling commented on #157
That's not necessarily true. You should for example be able to change the `id` value.

[2019-09-26 08:56] kuldar commented on #153
I think it might be fine to disable the text selection, but then we should probably auto-select textfield's content when you're switching to "edit" mode. This way people can still double-click on a field and hit `cmd+c` to get the value.

[2019-09-26 09:03] kuldar commented on #148
I guess this will mostly be resolved by making cells non-selectable by default (#153), but currently the cursor changes to `text` mode every time you hover over a text, regardless if a cell is in edit mode.

![cursor](https://user-images.githubusercontent.com/1710629/65674557-1e7b2000-e04d-11e9-99f9-c6f8c429cd7b.gif)

[2019-09-26 10:09] madebysid opened #160 "Changing/renaming a field causes Studio to crash during load"
Steps to reproduce:

1. Open Studio once
2. Close Studio.
3. Rename a field / Remove a field
4. Open Studio again
5. Crash (Photon error in script, saying the removed field does not exist, basically, generated code is wrong)

However, if you reload it once again, the crash goes away.

Theory of why it happens:
When Studio is closed with the extra field, the generated code is saved . to IndexedDB a

[2019-09-26 10:12] madebysid opened #161 "Enable "Open a project" flow for Electron"
If you already have a schema generated by the CLI, the Electron app can just run a watcher on this file like the CLI does and not do any sort of introspection.

[2019-09-26 10:15] madebysid commented on #158
Hey @rpatelcode, I see you're on preview-12. Could you also try out the prisma2 alpha (you might want to clear your IndexedDB if you continue to see errors) using `npm i -g prisma2@alpha`? It includes some changes and fixes, and I just want to make sure this hasn't already been fixed. The alpha will land on the `preview` release today as well.

[2019-09-26 10:24] madebysid commented on #148
Agree, #153 will fix this.

Just to confirm, can I drop this one then?

[2019-09-26 15:30] schickling opened #162 "Easy browser-based development setup"
- live reload
- easy local linking
- example data sets
- preview deployments (e.g. Netlify)

[2019-09-26 16:15] madebysid commented on #155
Fixed with alpha.209

[2019-09-26 16:15] #155 closed

[2019-09-26 16:16] madebysid commented on #117
Shouldn't happen anymore. @schickling Please reopen if you see it again!

[2019-09-26 16:18] #148 closed

[2019-09-27 08:26] nikolasburk opened #163 "Studio doesn't show any data"
I'm trying to run this dataset using Prisma Studio: https://github.com/infoverload/datasets/tree/master/datasets/sqlite/climate

When running `prisma2 dev`, I successfully get an endpoint for Studio, but it doesn't show any data:

![image](https://user-images.githubusercontent.com/4058327/65754356-29978400-e111-11e9-893a-fa130a7eaa1e.png)

The SQLite browser proves that there is data in the DB fil

[2019-09-27 08:32] madebysid commented on #163
@nikolasburk Are you on preview-12 (Studio v0.92.0 in the DevTools console)? Could you also try this out with preview-13 which will be released today? There's a bunch of changes there, and I just want to make sure this still happens! If it does, could you also check to see if there are any errors in the Console / `prisma2 dev` CLI?

[2019-09-27 08:36] nikolasburk commented on #163
Yes, currently on preview-12. I'll try with preview-13 once it's released 👍

[2019-09-27 10:14] timsuchanek opened #164 "Reload unintuitive"
## Reload in Table Plus
![image](https://user-images.githubusercontent.com/1094804/65761905-16d87b80-e120-11e9-8bf8-2c9f663d4c70.png)

## Reload in Studio
![image](https://user-images.githubusercontent.com/1094804/65761940-28218800-e120-11e9-8365-11ae24967aba.png)

As a user, who just wants the data to reload, without knowing that Photon is used under the hood, I don't know, what `Run` means in th

[2019-09-27 10:16] timsuchanek opened #165 "Reloading the browser crashes Studio"
The whole dev command crashes with this stack trace
[code]

[2019-09-27 10:19] madebysid commented on #165
https://github.com/prisma/studio/issues/151 is where I'm tracking this :D

[2019-09-27 10:19] #165 closed

[2019-09-27 10:19] timsuchanek opened #166 "Implement "install studio command into $PATH""
It's very cumbersome to need a `prisma studio` command running in the CLI all the time.

The same as Visual Studio Code allows you to just do `code .` in the terminal, I would like the same for studio: `studio .`, which opens the Electron App.

[2019-09-27 11:42] madebysid commented on #162
Created a workflow for this in the code repo. Please take a look and close if you think that'll work!

[2019-09-27 15:16] divyenduz commented on #166
Internal note: dropping from this sprint because priority and spec (project based or db based or something else)

[2019-09-27 15:18] #162 closed

[2019-09-27 15:27] schickling opened #167 "Introduce environments concept"
Related: https://marketplace.visualstudio.com/items?itemName=mtxr.sqltools#sqltools

[2019-09-27 15:34] CaptainChemist commented on #134
@madebysid Thanks for looking into this- I'm glad that it isn't just me. I tried out preview-13 today and I'm still getting the warnings. That's good to know that it is probably just Ink and not a problem with studio.

[2019-09-27 17:10] rpatelcode commented on #158
Thank you so much @madebysid it has been started working now.

[2019-09-27 17:10] #158 closed

[2019-09-28 09:33] schickling opened #168 "Studio as express middleware"

[2019-09-28 09:38] schickling opened #169 "Demo/test deployments"

[2019-09-28 12:33] schickling opened #170 "Error in generated query: Provided Int, expected String"
![image](https://user-images.githubusercontent.com/1567498/65816506-d438a100-e1fc-11e9-99d2-afe7fb785ea8.png)

Repro: https://github.com/nikolasburk/datasets/tree/northwind/datasets/sqlite/northwind

[2019-09-28 13:10] schickling opened #171 "Tree view broken"
![image](https://user-images.githubusercontent.com/1567498/65816955-16b0ac80-e202-11e9-93b7-d1cdb8d76157.png)

[2019-09-28 13:11] schickling opened #172 "Make @id fields editable"
Related to #157

[2019-09-28 13:13] schickling opened #173 "Switching tabs feels slow"
When switching tabs there seems to be a (significant) delay from clicking a tab to when the tab content is actually shown.

[2019-09-28 13:19] schickling opened #174 "Browser history navigation"
* Back button loses state
* Preventing left-two-fingers-to-browser-back-button (Like Figma)

Let's think through how browser navigation should tie into Prisma studio

[2019-09-28 13:24] schickling opened #175 "Two cells can be edited at the same time"
When starting to edit a cell via `Enter` and then double clicking into another cell both are in the "editable" state.

![image](https://user-images.githubusercontent.com/1567498/65817139-fe419180-e203-11e9-88db-6e5b153ff2e5.png)

[2019-09-28 13:32] schickling opened #176 "Tab text cut off"
![image](https://user-images.githubusercontent.com/1567498/65817249-2da4ce00-e205-11e9-9996-231437bc7d47.png)

[2019-09-28 13:47] schickling opened #177 "Improve studio dev server workflow"
Instead of having a global `studio-server` CLI, I propose the following set up:

- Get rid of `studio-server` CLI
- Get rid of the `studio-server.prefs` file
- Add new `dev` script to top-level `package.json` in `studio-code` which takes the following CLI args `--schema /my/project/path/prisma/schema.prisma` and an optional `--port 12345` (default: `55555`) arg.
  - The command automatically start

[2019-09-29 07:51] schickling opened #178 "Experimental backup/restore feature based on native DB tooling"

[2019-09-29 11:38] deadcoder0904 opened #179 "Always get error while trying `prisma2 dev`"
I was trying Prisma Studio for the 1st time. I typed `prisma2 dev` in terminal & keep getting this

![Error Prisma Studio](https://user-images.githubusercontent.com/16436270/65831866-7f1f8c80-e2db-11e9-8ad2-e6f55d9bc5af.png)

My Prisma version is latest preview-13

[2019-09-29 22:46] KyleTryon opened #180 "[Bug] Unable to commit changes."
My first time setting up Prisma2, I have created a custom schema.prisma to represent my data. I have received no errors when running `prisma2 dev` and there are no validation errors showing in VS code with the Prisma extension.

edit: can confirm it also happens on a standard template. Javascript > GraphQL + Auth with no changes made.

I am attempting to add a **user** via studio.

data model:
[co

[2019-09-30 08:24] madebysid commented on #180
Hey @KyleTryon, thanks for the detailed issue!
From the logs, I gather that you're on Studio version 0.92.0, which shipped with prisma2 preview-12. Could you also try this out on the latest preview (preview-13)? I just want to make sure this still occurs, since I was able to create a user with the standard template that you used on preview-13.

If it does, I can then start investigating!

[2019-09-30 12:54] benjixx opened #181 "Float values are not shown"
When a model has a field of type Float, its column in Prisma2 Studio does not show any values at all.
Fetching data via the generated Photon API seems to work fine though.

Update:
This is currently tested with Prisma2 version 2.0.0-preview-13.1, but I've seen this issue before.

[2019-09-30 16:19] deadcoder0904 opened #182 "Ctrl+C doesn't stop the script in the terminal while generating Photon.js Client, Nexus, etc.."
Basically the title while doing `prisma2 dev` :)

[2019-09-30 16:21] deadcoder0904 opened #183 "Asks to save changes into a migration file by running `prisma2 lift save` but gives `Everything up-to-date` in terminal"
Basically looks like 👇

![prisma2 dev](https://user-images.githubusercontent.com/16436270/65889598-26c1bb00-e3bf-11e9-89e5-ae9885e34af4.png)

But when I do it, it gives `Everything up-to-date` in terminal

[2019-09-30 16:24] deadcoder0904 opened #184 "Lots of blank space which hides a lot of output when terminal is small & it basically looks like nothing is below while scrolling"
There's also a lot of blank space above `Studio endpoint: http://localhost:5555/`

![prisma2 dev](https://user-images.githubusercontent.com/16436270/65889598-26c1bb00-e3bf-11e9-89e5-ae9885e34af4.png)

I was searching for `Studio endpoint` since I couldn't remember it but when I scrolled I couldn't see anything. Then I had to full-screen my terminal. Mind u, I use VSCode's built-in terminal so I ca

[2019-09-30 16:56] madebysid commented on #181
Hey @benjixx, I was able to see this as well, expect a fix soon! I'll let you know here when I push it out

[2019-09-30 17:04] madebysid opened #185 "Pressing Tab while editing a cell should not focus the browser's address bar"
Instead, exit the edit mode and move to the next cell horizontally

[2019-10-01 08:28] madebysid opened #186 "Non-shortcut way to delete a record"
There isn't a point and click way to delete a record right now, so if someone doesn't know (or use) shortcuts, deleting records looks unimplemeted.

[2019-10-01 08:40] madebysid commented on #170
@schickling Using the schema you provided, I was able to reproduce this and I believe the generated query is correct. Created https://github.com/prisma/photonjs/issues/241 for it.

I don't think after should be a string here, since `order_id` is an int. Will wait to see what the result of that issue is before I jump into this!

[2019-10-01 08:43] madebysid commented on #117
Reopening because I saw it again

[2019-10-01 09:14] johannesschobel commented on #156
I think it is also kind of irritating, that the `@id` field first shows a `uuid v4` id and **after** you save it, it is "converted" to whatever you have defined (`cuid()` in your case).

Maybe it is better to just use a `placeholder` (like the `null` value in the `Album` column in your example) with `autogenerated` or something? So that i can manually overwrite it if required or automatically gene

[2019-10-01 09:15] madebysid commented on #176
Fixed with alpha.224

[2019-10-01 09:15] #176 closed

[2019-10-01 09:16] madebysid commented on #163
@nikolasburk Were you able to see this after preview 13 as well?

[2019-10-01 09:18] madebysid commented on #136
Hey @vladimirvolek, please let me know if you're still seeing this on the latest `prisma2 dev` version, I'll reopen :)

[2019-10-01 09:18] #136 closed

[2019-10-01 11:07] madebysid commented on #137
Hey @gabrieltong , please let me know if you're still seeing this with the latest preview (preview-13), and I'll reopen it!

[2019-10-01 11:07] #137 closed

[2019-10-01 12:33] sdnts opened #187 "Icon for Float types"
Since I started handling float values as a consequence of https://github.com/prisma/studio/issues/181, I realized we don't have an icon for it to show in the results table/tree either.

For now, I'm reusing the Number icon, but it'd be nice to have a separate one for this as well :D

[2019-10-01 14:42] KyleTryon commented on #180
Steps to reproduce.

- run: `prisma2 init hello-world`
- select: `starter kit`
- select: `javascript`
- select: `GraphQL API (+ Auth)`
- select: `SQLite`

_side note: I generally work on windows via WSL but this install process dies. For these tests I am SSHd into a remote linux (ubuntu) box._

Once the setup is complete.

- run: `cd hello-world`
- run: `prisma2 dev`

I am given the IP  `Studio en

[2019-10-01 16:06] #55 closed

[2019-10-01 16:20] schickling opened #188 "Implementation detail: Generate Photon when Studio Server is started, not when user opens Studio in the browser"
Related to #111

[2019-10-01 17:46] idan commented on #122
@schickling pushing this until after beta

[2019-10-01 17:47] idan commented on #178
This seems like a post-beta thing

[2019-10-01 17:48] idan commented on #168
This would enable us to run studio inside environments like codesandbox.

Seems like a post-beta thing

[2019-10-01 17:53] idan commented on #166
[VS Code](https://code.visualstudio.com/docs/setup/mac) calls it "install 'code' command in PATH". We can call it the same thing.

Open questions:
* [ ] Where is this functionality exposed?
* [ ] What's the command itself? `studio`?
* [ ] What if `prisma dev` is not running? Stupid solution: "Please run the server with `prisma dev` first" error message

[2019-10-01 18:00] idan commented on #129
@schickling @kuldar What was the goal here? What will this improve/accomplish?

[2019-10-01 18:03] idan commented on #126
@kuldar @madebysid Would this have a meaningful impact on our development velocity?

[2019-10-01 18:06] idan commented on #125
Necessary for supporting PG lists and JSONB, I assume

[2019-10-01 18:10] idan commented on #9
@schickling is this something in the critical path? It looks like there's already a lot of work done here so scheduling for Beta, but if not then we should push to post-beta

[2019-10-01 18:18] idan commented on #50
@schickling @madebysid @kuldar is this being worked on? If not, any notion re: priority?

[2019-10-01 18:18] idan commented on #50
tl;dr not sure if to schedule for beta or post-beta

[2019-10-01 18:21] idan commented on #53
@madebysid Dependent on #9 and #129?

Marking low impact, not sure about effort since the tabs work is unclear to me in scope.

[2019-10-01 18:22] idan commented on #64
Scheduling/impact depends on whether we prioritize `prisma dev` over the electron package. @madebysid ?

[2019-10-01 18:23] idan commented on #65
Seems like something critical for using the UI in many query contexts, scheduling for Beta

[2019-10-01 18:27] idan commented on #73
IMO this is in the critical path for beta. Marking tentatively, happy to discuss @schickling @janpio @sorenbs

[2019-10-01 18:30] idan commented on #75
This is super cute!

Are we using something like intercom already? As much as I love this UX, maybe cheaper for us to buy tools around this than build them.

[2019-10-01 18:32] idan commented on #81
Is this specifically about the data browser, or also about the other things that will be part of studio (init flow, dashboard)? cc @schickling @kuldar

[2019-10-01 18:34] idan commented on #91
Discussed today during studio mega-planning. We should not interfere with normal operation of the browser (e.g. new tab) but makes sense to override existing behavior like refresh or save. Need to do a pass on the shortcuts in the spec and decide here.

[2019-10-01 18:38] idan commented on #112
@schickling @kuldar this screenshot doesn't capture the terribleness of the problem, can you shed a little more light on what makes this a bad UI?

[2019-10-01 18:41] idan commented on #113
This would be an obvious improvement, but if it's not great at Beta we will not die of shame. Marking post-beta for now.

[2019-10-01 18:42] idan commented on #114
Solid improvement but not in the critical path for release. Marking post-beta.

[2019-10-01 18:43] idan commented on #116
I'm tempted to label this a bug as it can lead to users' browsers melting down.

[2019-10-01 18:45] idan commented on #119
Is this implemented in photon yet? @timsuchanek

[2019-10-01 18:48] idan commented on #121
Dependent on #91

[2019-10-01 19:05] johannesschobel commented on #156
this is kind-of related to #172

[2019-10-01 19:10] johannesschobel commented on #124
`PgAdmin` (web interface for PostgreSQL) has a `Null?` checkbox when entering values to a respective cell.

Checking this field removes the current value and sets it to `null` ( as you may guess ;) )

[2019-10-02 07:01] johannesschobel opened #189 "Cannot Delete Values"
Dear Prisma Team,

i recently played around with `Studio` and i really like the idea of having an easy to use "database administration panel". Nice work on this application!

I recently stumbled upon the following issue.
Please consider the following model:
[code]
and note that - especially the `middlename` is flagged as "optional" (nullable) parameter.

I now directly add a new row in `Studio` an

[2019-10-02 07:07] johannesschobel commented on #96
Dear @madebysid ,
i think, it would be best to have a "calendar selector" (i.e., like in apps where you select a date) in order to ensure that the date is properly formatted for the underlying database. What do you think?

All the best

[2019-10-02 07:43] madebysid commented on #181
Hey @benjixx, could you try installing the latest alpha (`npm i -g prisma2@alpha`) and see if this is fixed? This will also land in the next preview release.

[2019-10-02 07:48] madebysid commented on #189
@johannesschobel Ah that's certainly a bug, I'll take a look at it and fix it soon! Will let you know here when I push it out!

[2019-10-02 07:51] benjixx commented on #181
@madebysid I just tested this with the latest `alpha` version. Working as expected now. Thanks for the quick fix.

[2019-10-02 07:56] madebysid commented on #96
@johannesschobel Agree! This is what we'll be building in soon:
<img width="486" alt="Screenshot 2019-10-02 at 09 54 45" src="https://user-images.githubusercontent.com/7689783/66027210-bb7d0380-e4fa-11e9-9c37-122e0062123e.png">

[2019-10-02 07:57] madebysid commented on #181
Awesome! Please reopen if you find any issues with it!

[2019-10-02 07:57] #181 closed

[2019-10-02 07:58] madebysid commented on #156
@johannesschobel Not exactly, but I'll probably tackle them both together soon.

[2019-10-02 08:01] madebysid commented on #75
@idan Nope, not currently. Maybe we can think about that then!

[2019-10-02 08:03] madebysid commented on #64
@idan I think we can deprioritize this, since we're not focusing on the Electron app as much for the time being.

[2019-10-02 08:08] madebysid commented on #53
@idan I don't think this is dependent on #9, but #129 is relevant. If we can figure out a way to solve #129, then this is pretty low effort.

The question right now is: What happens when you click on this newly created tab? Which model does it open? If we just want to default to the first model (and let the user change the model as they want), then too, this is low effort.

[2019-10-02 08:32] madebysid commented on #50
@idan It isn't, but since yesterday's discussion, I'm planning on picking this (and empty states) up soon. IMO pre-beta, since it isn't a whole lot of work anyway.

[2019-10-02 08:50] madebysid commented on #126
I think this would help Kukdar immensely, but needs a little bit of work on my end

[2019-10-02 09:10] johannesschobel commented on #189
That is awesome.. Thanks for your support

[2019-10-02 09:13] johannesschobel commented on #96
That looks awesome..
I would, however, suggest to add a Textfield as well (with proper placeholder format) so that I can add a value myself.

Entering a birthdate via calendar may be very annoying, if you need to go back 40 years or so ;)

[2019-10-02 13:32] schickling commented on #122
@idan FYI: This was mostly meant as a way for @kuldar to more effectively contribute to Studio. Waiting for feedback from @kuldar whether the current CSS set up feels productive for him or whether we should invest into this.

[2019-10-02 13:51] nikolasburk commented on #163
Preview 13 seems to have fixed it, thanks! 🙏

[2019-10-02 13:51] #163 closed

[2019-10-02 14:21] idan commented on #75
@schickling WDYT? re: buying https://www.intercom.com/pricing/

[2019-10-02 14:54] idan commented on #53
I sketched two possibilities for discussion

![studio_new_tab](https://user-images.githubusercontent.com/22723/66054430-d5ade600-e4e8-11e9-9018-78a57efe8267.jpg)

Option A, when you click on the new tab button, a popover appears at the position of the new tab button with a filterable list of models. It's possible to take the entire sidebar contents as a component and embed it there.

Option B, whe

[2019-10-02 15:38] idan commented on #174
This is in many ways related to #108, in the sense that whenever we patch existing browser behavior we should do so responsibly.

[2019-10-02 16:01] idan commented on #126
@madebysid effort low vs high?

[2019-10-02 16:07] idan commented on #166
Tempted to put this in post-beta but it's significant, let's discuss at sync

[2019-10-02 16:22] madebysid commented on #126
Relatively low effort I’d say

[2019-10-02 16:43] idan commented on #129
Seems like a duplicate of #53?

[2019-10-02 16:44] idan commented on #53
See more sketches from @schickling in #129

[2019-10-02 16:51] janpio commented on #75
Intercom is in usage for Prisma1 Cloud (or Graphcool) - @divyenduz answered some of my questions there so can probably tell us more about Prisma's usage of Intercom.

[2019-10-02 17:18] idan commented on #91
#1 is a part of this

[2019-10-02 17:18] idan commented on #1
merging with #1

[2019-10-02 17:18] #1 closed

[2019-10-02 17:27] idan commented on #83
I think there's a more generalized discussion here about clientside state and persisting it — if we do that right, we get this for "free" @madebysid ? See also #174.

@madebysid how much impact does this have on perf? This sounds like "we wish it were better but it's not a disaster". Correct?

If that's correct, then maybe we can drop this issue in favor of an exploration on state management and f

[2019-10-02 17:30] idan commented on #53
Scheduled as a candidate for discussion at sync. Would like to get a sense for whether this is for beta or post-beta.

[2019-10-02 18:03] idan commented on #188
Candidate because: needs milestone

[2019-10-02 18:03] idan commented on #188
Also impact

[2019-10-02 18:05] idan commented on #186
Can't CRUD without D, but then again we have been okay so far, can also get pushed to post-beta if we have more important things to do.

[2019-10-02 18:07] idan commented on #185
@schickling any reason this is a particular candidate compared to all the other UI bugs/tweaks?

[2019-10-03 09:21] schickling commented on #185
@idan I'd like to prioritize a smooth "create new record" flow. This issue is a big friction point right now.

[2019-10-03 09:32] schickling opened #190 "Pressing "new tab" should always open new tab instead of replacing non-dirty tab"
![image](https://user-images.githubusercontent.com/1567498/66115575-63650080-e5d1-11e9-8374-25a99b883007.png)

Related but not the same as #209

[2019-10-03 17:50] idan commented on #187
Marking for beta but this is the kind of thing that can be pushed back with no consequence

[2019-10-03 18:00] idan commented on #157
Some drive-by suggestions:
* Readonly icon in editor
* Grey columns to indicate their disabled state
* Force these columns to be the leftmost ones if shown?

[2019-10-03 18:02] idan commented on #172
Marking post-beta because this doesn't seem little or in the critical path; can adjust if needed

[2019-10-03 18:04] idan commented on #169
@schickling context?

[2019-10-03 18:07] idan commented on #159
Is the goal here to `console.log` the studio version on boot?

[2019-10-03 18:08] idan commented on #154
@madebysid context?

[2019-10-03 18:11] idan commented on #153
Another refinement: in view mode, have a "copy" button (clipboard icon) appear on hover. Having to do keyboard gymnastics to select an ellipsized cell is not a great experience.

[2019-10-03 18:14] idan commented on #152
Marked candidate for discussion at sync

[2019-10-03 18:20] idan commented on #144
I'd like to think of this holistically together with #157 — whether the nullable is another icon or a tweak on the existing icons, alongside "readonly". Should feel like one system of iconography.

Out of curiosity:
* why did we abandon the older approach for icons?
* How do we handle custom field types, like dates?

[2019-10-03 18:22] idan commented on #141
If we don't have a repro, I'd close until a new lead appears in the mystery.

[2019-10-03 18:35] idan commented on #134
@madebysid @timsuchanek should I refile this issue on the CLI then?

[2019-10-03 18:40] idan commented on #139
Marked candidate for discussion at upcoming sync

[2019-10-03 18:55] idan commented on #144
A quick experiment:
![image](https://user-images.githubusercontent.com/22723/66155523-af657480-e5d4-11e9-9cc2-41b78e404773.png)

[2019-10-03 19:07] idan commented on #177
Let's discuss at sync with context of what studio is turning into with prisma dev/init/etc

[2019-10-03 19:08] idan commented on #140
Marked candidate for discussion during upcoming sync

[2019-10-03 19:09] idan commented on #117
Marked candidate for discussion during upcoming sync

[2019-10-03 19:12] idan commented on #131
Marked candidate for discussion during upcoming sync

[2019-10-03 19:18] idan commented on #99
Marked candidate for discussion during upcoming sync

[2019-10-03 19:20] idan commented on #96
Marked candidate for discussion during upcoming sync.

Datepickers are a source of so many UI edge-cases, IDK whether this is something we want to do for beta or post-beta.

[2019-10-03 19:23] idan commented on #69
Marked candidate for discussion during upcoming sync, specifically in context of shift towards init/dashboard experience.

[2019-10-03 19:26] idan commented on #57
What's the status of this?

[2019-10-03 19:29] idan commented on #56
Let's do the defer-query-execution thing right now; something better can be done post-beta.

[2019-10-03 19:43] idan commented on #4
I asked a Q at the end of the slack thread regarding what level of responsibility we want to take on here, but this seems solidly like a post-beta enhancement.

[2019-10-04 01:36] KyleTryon commented on #180
I have reinstalled prisma2 on my Windows machine with WSL and as a sudo user the issue seems resolved. Interestingly prisma2 init still installed "2.0.0-preview-12" by default.

Studio behaves differently now though but in either case it is working 👍

[2019-10-04 01:36] #180 closed

[2019-10-04 03:13] ansarizafar commented on #139
It's working on my machine now.

[2019-10-04 07:51] madebysid commented on #57
@idan It is pretty far out still.

The Electron app uses an older (read unmaintained) introspection library (https://github.com/prisma/prisma/tree/master/cli/packages/prisma-db-introspection)

There's still a bunch of work to be done around the new Rust introspection binary before I can even begin. Not sure what the priority for that is.

Since we're not focusing on Electron anyway, we can defer t

[2019-10-04 07:56] madebysid commented on #96
@idan I totally agree, which is why I've been putting this off, and consider this high effort as well. Datetimes are still visible in Studio, but conveniently editing them won't be possible without this.

We could allow basic editing by treating Datetimes as strings that are validated after editing. Then we can possibly have this done quicker.

[2019-10-04 07:58] madebysid commented on #134
@idan Yep, I've moved it there.

[2019-10-04 08:01] madebysid commented on #141
@idan I haven't been able to reliably reproduce it, but have seen it too on multiple occasions. It usually goes away after a refresh, it is most likely a race condition during initialization, bug I haven't investigated yet.

[2019-10-04 08:05] madebysid commented on #154
@idan The tree view is currently read-only. The plan is to have online editing by double clicking there as well (like we do in the results table). This is actually pretty low effort because of the way the code is structured. I say we can have this pre-beta.

[2019-10-04 08:09] madebysid commented on #159
@idan The goal is to output versions of all prisma dependencies: photon, lift, and the CLI. Studio's version is already logged.

[2019-10-04 08:13] madebysid commented on #169
@idan This is less Studio, more ops. The goal is to have a demo deployment on Now for every pull request with some sample datasets. I'm actually working on this as we speak, so pre-beta.

[2019-10-04 08:17] madebysid commented on #83
@idan Agree, it is definitely a nice-to-have. I don't think this will affect performance too much either. Post-beta sounds good to me.

[2019-10-04 10:12] schickling opened #191 "Set up Codesandbox example which opens studio by default"

[2019-10-04 10:41] schickling commented on #144
@idan note that my old screenshot was based on Prisma one which used GraphQL SDL to define your schema. Prisma 2 uses it's own Prisma Schema Language (PSL) with the following difference regarding nullability:

- GraphQL SDL: `optionalField: String` / `requiredField: String!`
- PSL: `optionalField: String?` / `requiredField: String`

[2019-10-04 10:42] #139 closed

[2019-10-04 16:16] schickling opened #192 "Display "Table"/"Tree" selection as visual button instead of dropdown"
Would be great to render the "Table"/"Tree" selection as visual button instead of dropdown

![image](https://user-images.githubusercontent.com/1567498/66223149-0a7d9100-e6d3-11e9-90a1-a3094b050dd0.png)

Idea similar to Mac finder selection:

![image](https://user-images.githubusercontent.com/1567498/66223175-21bc7e80-e6d3-11e9-9ea9-f77176c71c03.png)

[2019-10-05 11:13] schickling opened #193 "Editing values is broken"
https://www.loom.com/share/9bfaae0388614f2182b35c47428c128e

[2019-10-05 15:09] deadcoder0904 opened #194 "Sometimes it doesn't quit even after pressing ⌃C multiple times"
I don't think it's my Mac's problem. Does anyone else face this issue? 🙋‍♂️

[2019-10-06 09:27] schickling opened #195 "Table scroll area should start underneath table header"
![image](https://user-images.githubusercontent.com/1567498/66267047-e2a24080-e82c-11e9-9130-08d13c4ad2a9.png)

[2019-10-06 09:40] schickling opened #196 "Error while scrolling and creating new record"
When having clicked „new record“ and then scroll to the bottom in this example: https://prisma-studio.now.sh/preview?dataset=climate

**Error dump**
undefined is not an object (evaluating 'a.toFixed')

**Stacktrace**

    in ta
    in div
    in Unknown
    in div
    in Unknown
    in Unknown
    in div
    in Es
    in div
    in t
    in div
    in ks
    in bu
    in div
    in mr
    in Hu

[2019-10-06 09:45] schickling opened #197 "Smooth initial database creation flow when dev dashboard lives in Studio"
Note for @schickling

[2019-10-07 08:34] tvvignesh opened #198 "Prisma 2 Admin - Schema design using GUI/Prisma.schema"
The prisma admin UI could also be used to create schema by either designing it via GUI (and it can create the tables and other resources and also generate the *.prisma file).

And it should also be able to take the *.prisma file if supplied and run the relevant queries against the DB to create the schema like what happens when you use lift via CLI

This will make the admin UI not just a tool to qu

[2019-10-07 13:33] madebysid opened #199 "Should created records go to the top of the results table?"
I mean records that are created, but not yet committed.

If there already are a bunch of records in the results table:

The created record goes at the very bottom of the results list, and the browser tries to focus the first cell, which means the results list scrolls to the bottom, which prompts a `Load More` query. I guess I could control this, but it'll be weird to do and will go against an inte

[2019-10-07 13:49] madebysid opened #200 "Upload sourcemaps to Sentry during build"
Will make debugging directly from Sentry possible

[2019-10-07 13:51] madebysid commented on #196
Do you happen to have a Float value in your schema? In either case, #200 NEEDS finishing so I can figure out what this really is.

[2019-10-07 18:34] madebysid commented on #117
FINALLY happened to my machine as well. Steps to reproduce:

1. `prisma2 dev`
2. Stop `prisma2 dev` and start it up again.

When Studio tries to reconnect its WS connection (and succeeds), the same tab is restored again (since the app is bootstrapped again).

[2019-10-07 23:01] idan commented on #117
🎉 Unmarked candidate as this is now a confirmed bug.

@madebysid please update with effort low/high as appropriate once you have a sense for how difficult this will be.  🙏

[2019-10-07 23:43] idan commented on #144
@schickling gotcha. Refreshed:

![image](https://user-images.githubusercontent.com/22723/66356883-908f1700-e921-11e9-87de-40bedb9de615.png)

[2019-10-08 09:18] schickling commented on #144
@idan I think that'll do the trick for now. @kuldar what do you think?

[2019-10-08 11:36] madebysid opened #201 "Add more sample datasets to preview page"
Pick up DBs from https://github.com/prisma/prisma-datasets/tree/master/datasets/sqlite first.

Then we can add more as we find them.

Having a bunch of datasets to play with will also help during manual testing

[2019-10-08 11:36] madebysid commented on #201
Also add a warning that the preview deployment is read-only

[2019-10-08 14:30] madebysid commented on #196
Should be fixed with alpha.231

[2019-10-08 14:30] #196 closed

[2019-10-08 14:40] idan commented on #166
Deprioritized because electron

[2019-10-08 14:46] janpio opened #202 "`studio` binary that can be run (with global install)"
If you install `prisma` globally, you could theoretically have a `studio` binary that you can call everywhere, also with similar parameters to `code .` and similar use cases.

[2019-10-08 14:46] idan commented on #166
Given the future with `yarn add prisma`, this is kind of moot.

[2019-10-08 14:54] idan opened #203 "Fix red tab issue"

[2019-10-08 14:55] idan opened #204 "Improve landing page of https://prisma-studio.now.sh/"
* [x] Add more datasets
* [ ] Slightly less minimalist design :)
* [ ] Link to other Prisma things!
* [x] A warning that the preview deployment is read-only

[2019-10-08 15:01] janpio opened #205 "Figure out how to version Studio"
Versioning of Studio is tricky, especially in regard to other Prisma tools.

[2019-10-08 15:03] idan commented on #159
Log as much info about the installed versions of CLI, photon, lift, etc

[2019-10-08 15:05] idan commented on #153
Done!

[2019-10-08 15:05] #153 closed

[2019-10-08 15:07] idan commented on #152
Not critical, let's look at Notion sidebar UX for inspiration here when we do care

[2019-10-08 15:11] idan commented on #131
Done!

[2019-10-08 15:11] #131 closed

[2019-10-08 15:13] #140 closed

[2019-10-08 15:17] madebysid opened #206 "Filters for databrowser of related records do not work"

[2019-10-08 15:20] idan commented on #103
Requires further discussion around what a good UX is here
* Tree view is better at showing relations
* Table view can open new tabs pre-filtered?
* Needs design

[2019-10-08 15:21] #99 closed

[2019-10-08 15:22] idan commented on #69
Deprioritized because electron

[2019-10-08 15:23] idan commented on #57
Deprioritized because electron

[2019-10-08 15:23] #54 closed

[2019-10-08 15:23] madebysid commented on #203
Fixed!

[2019-10-08 15:23] #203 closed

[2019-10-08 15:42] timsuchanek commented on #119
Yes, Photon exposes this! It's available on `photon.users.count()`

[2019-10-08 16:19] janpio commented on #177
@madebysid This is documented in https://github.com/prisma/studio-code#setup, so the mentioned `dev` script was turned into just `npm start`?

[2019-10-08 16:21] madebysid commented on #177
@janpio Yep. All packages use this naming schema, so seemed appropriate.

[2019-10-08 16:22] janpio commented on #169
Was this documented somewhere or _is_ this only?

[2019-10-08 16:23] madebysid commented on #169
@janpio Not documented yet, but I plan on adding some information about it on https://github.com/prisma/studio-code#setup

[2019-10-08 16:25] janpio commented on #199
Things we talked about here:
- Endless scrolling vs. paging?
- How do Git clients do it with add to stage vs. committed
- 2 views, one with new but uncommitted things (problem: 2 scroll areas)

[2019-10-08 16:28] janpio commented on #192
In iOS these things are called "segmented controls": https://developer.apple.com/design/human-interface-guidelines/ios/controls/segmented-controls/

[2019-10-08 16:44] madebysid commented on #200
Will be uploaded starting next release.

[2019-10-08 16:44] #200 closed

[2019-10-08 17:35] madebysid opened #207 "Point deployment URLs for regular commits to Now slugs"

[2019-10-08 18:24] janpio commented on #188
(Renamed because `prisma2 dev` is not the relevant bit here, but the start of the Studio Server is.)

[2019-10-08 18:27] janpio commented on #177
Yep, just wanted to persist that change here for future reference when reading this issue.

[2019-10-08 20:20] pin4eva opened #208 "Cannot read property 'model' of null"
<Anything that helps us reproduce the error goes here>

**Error dump**
Cannot read property 'model' of null

**Stacktrace**

    in Hu
    in div
    in mr
    in div
    in C
    in div
    in div
    in div
    in div
    in C
    in div
    in u

[2019-10-09 08:13] schickling opened #209 "Pressing "new tab" should always open new tab even if same model is already opened in other tab"
Related but not the same as #190

[2019-10-09 08:30] madebysid opened #210 "Figure out a way to open source Cypress tests for Studio"
It’d need a bit of work so that every important DOM element is “tagged” correctly so it is selectable from tests

[2019-10-09 08:30] madebysid commented on #63
Should be happening now

[2019-10-09 08:30] #63 closed

[2019-10-09 11:29] schickling commented on #104
This seems to be done.

[2019-10-09 11:29] #104 closed

[2019-10-09 11:38] schickling commented on #185
This still seems broken.

[2019-10-09 11:39] schickling commented on #185
Or at least doesn't implement the intended behavior. When editing a cell and pressing tab, it should edit the next field instead of bluring the cell.

[2019-10-09 11:41] madebysid commented on #185
So `Tab` and `Shift+Tab` move to the next/previous cell AND start to edit it? (Rather than pressing Right arrow, and then Enter)

[2019-10-09 11:42] schickling opened #211 "Studio demo page: Favicon is missing"

[2019-10-09 11:44] schickling commented on #185
Yes, exactly. Including selecting the cell content.

[2019-10-09 11:47] madebysid commented on #208
Hey @pin4eva, thanks for reporting this! Since that stack trace is minified (We'll start shipping source maps soon so they're more useful), I have a couple of questions:

1. Does this happen when opening Studio for the first time?
2. Does this go away after a refresh?

[2019-10-09 11:50] schickling opened #212 "Endless scrolling is broken"
Audio on:
https://www.loom.com/share/0d435b6fccf74763a8f3827045befb4c

[2019-10-09 11:51] pin4eva commented on #208
Thanks for your reply,

It doesn’t go away after I refresh and yes it happens as soon as I launch studio

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Siddhant Sinha<mailto:notifications@github.com>
Sent: Wednesday, October 9, 2019 12:47 PM
To: prisma/studio<mailto:studio@noreply.github.com>
Cc: pin4eva<mailto:pin4eva@hotmail.com>; Mention<mailto:mention@nor

[2019-10-09 12:02] madebysid commented on #208
@pin4eva Thanks. Which version of Studio (there should be a log in the Console) & prisma2 (`prisma2 -v`) are you on?

Could you also run: https://gist.github.com/madebysid/2f084889730528511d5da12984491678 and send me the output (either by commenting here or attaching a Gist?). This will dump all contents of IndexedDB to the console and help me figure out what is really happening.

If you then clea

[2019-10-09 12:10] pin4eva commented on #208
I am running Prisma 2.0.0-preview013.3 on Ubuntu  and don’t know what version of studio im using. I will run the code as soon as I get home, im at work.

Thanks again for your reply.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Siddhant Sinha<mailto:notifications@github.com>
Sent: Wednesday, October 9, 2019 1:03 PM
To: prisma/studio<mailto:studio@noreply.gi

[2019-10-09 19:26] pin4eva commented on #208
Where do i paste your code?, i don't know how to run that code.

[2019-10-09 19:27] madebysid commented on #208
@pin4eva You need to run it in Chrome's DevTools Console.

[2019-10-09 20:14] pin4eva commented on #208
{"actions":[{"projectId":"/home/peter/Theme/dg","id":"1b3b874f-3ad8-4b35-9ad1-68b6b5c9ff2e","type":"update","recordId":"Student::ff314dbc-757f-40d1-aa93-466f14cc6467","sessionId":"212029e2-3a0e-4ef3-991b-e2e87ca4faa5","value":{"firstName":"Amara"}},{"projectId":"/home/peter/Theme/dg","id":"242bbd25-a5b7-4e60-bf7f-93f1f25ebaee","type":"create","recordId":"Student::4c137678-d2a3-40b8-b337-728952f33b

[2019-10-10 08:35] timsuchanek opened #213 "Add support in the databrowser for big strings"
Let's say you have a really long string (like an article) in a string field.
As of now, I have to copy that string out of Studio into a text editor to be able to read it.
It would be great, if Studio could have a popup-like solution to display big strings.

[2019-10-10 13:09] madebysid commented on #119
We no longer show the total number of records in the sidebar anymore, so 1. is irrelevant now.

For 2., there isn't a way to count the number of relations via photon yet, so this issue unfortunately is still going to have to remain open.

[2019-10-10 13:15] madebysid commented on #151
Reproduced and fixed this. Will be out with the next alpha/preview.

[2019-10-10 13:15] #151 closed

[2019-10-10 13:23] madebysid opened #214 "Show number of records in each model in the sidebar"
We removed it with the new design, need to bring it back.

[2019-10-10 14:41] madebysid commented on #119
For the first point in the original post, created: https://github.com/prisma/studio/issues/214. This is possible and will be implemented using the current `.count()` query.

However, there are a couple of other things that are missing, documenting them here to be treated as requirements, so-to-speak.

1. It needs to be able to account for `after` & `skip` parameters, since these two params will di

[2019-10-11 15:11] madebysid commented on #193
Now fixed with alpha.234

[2019-10-11 15:11] #193 closed

[2019-10-11 15:11] madebysid commented on #188
Happens with alpha.234+

[2019-10-11 15:11] #188 closed

[2019-10-11 15:11] madebysid commented on #212
Fixed with alpha.234

[2019-10-11 15:11] #212 closed

[2019-10-11 15:11] madebysid commented on #190
Fixed with alpha.234

[2019-10-11 15:11] #190 closed

[2019-10-11 15:11] madebysid commented on #209
Fixed with alpha.234

[2019-10-11 15:11] #209 closed

[2019-10-11 15:40] madebysid commented on #185
Should work as intended now, although there are definitely some improvements to be made. Specifically with relations and how they work if you press Tab while editing a (string) cell and the next one is a relation.

It is a niche case and hard to explain over text, so let's talk in person.

Closing this since the original issue is solved. Please reopen if you still think this behaviour is off!

[2019-10-11 15:40] #185 closed

[2019-10-11 21:51] #208 closed

[2019-10-12 15:45] schickling opened #215 "Studio breaks on Codesandbox"
![image](https://user-images.githubusercontent.com/1567498/66703953-09261700-ed18-11e9-86d0-383bbe2ee7c8.png)

https://codesandbox.io/s/sqlite-northwind-w6005

[2019-10-13 15:22] schickling opened #216 "Photon queries seem to fail"
Example: https://github.com/prisma-labs/nexus-prisma/tree/master/examples/blog

![image](https://user-images.githubusercontent.com/1567498/66717860-f83fd900-eddd-11e9-8d30-0b7db5fcb37b.png)

[2019-10-13 17:37] schickling opened #217 "Query results miss records"
![image](https://user-images.githubusercontent.com/1567498/66719489-da2fa400-edf0-11e9-9ee6-4a7c4d7b4e78.png)

[code]

[2019-10-14 09:44] madebysid commented on #216
@schickling The prisma2 version on there was pretty old, there have been breaking changes to photon since then. I updated it to alpha.236 (latest as of now) and `prisma2 dev` on the directory seems to be working then.

Created PR: https://github.com/prisma-labs/nexus-prisma/pull/478

[2019-10-14 09:44] #216 closed

[2019-10-14 10:05] madebysid commented on #216
On second thought, if you see this after multiple refreshes or something else other than `prisma2 dev`, please reopen and let me know!

[2019-10-14 10:13] schickling opened #218 "Relation popup broken"
![image](https://user-images.githubusercontent.com/1567498/66744157-f88eb180-ee7b-11e9-9cb6-ae304d77a315.png)

Repro: https://prisma-studio.now.sh/preview?dataset=climate

[2019-10-14 10:17] madebysid commented on #218
Weird, this seems to work for me for the same record you're looking at. Do you see any errors in the console, or any failed requests in the Network tab of DevTools?

[2019-10-14 10:38] madebysid commented on #218
https://www.loom.com/share/d573ed1404694a4cab5595ad03a13c45

[2019-10-14 11:23] schickling opened #219 "New tabs should always be opened on the right. Order should be preserved."
Special note for @madebysid: Get rid of "special rule" and don't force preview tab to be the last tab.

[2019-10-14 11:24] schickling opened #220 "Pressing tab should persist (instead of discard) changes when editing cells"

[2019-10-14 11:35] schickling opened #221 "Error: Deleting fields leads to invalid Studio state"
![image](https://user-images.githubusercontent.com/1567498/66748444-7d32fd00-ee87-11e9-89b9-1889e3c0d9b5.png)

[2019-10-14 11:36] schickling opened #222 "Error screen: Show button to reset state"

[2019-10-14 11:41] schickling commented on #217
Can no longer reproduce. Very mysterious. Closing for now. 🤔

[2019-10-14 11:41] #217 closed

[2019-10-14 11:42] schickling opened #223 "Some queries (e.g. create new record) fail and don't result in a visible error"
For example happens currently when trying to create a record with a DateTime value (because of #96)

[2019-10-14 11:50] schickling opened #224 "Error [ERR_IPC_CHANNEL_CLOSED]: Channel closed"
![image](https://user-images.githubusercontent.com/1567498/66749196-7efdc000-ee89-11e9-8bf8-66c2475f4e8c.png)

https://codesandbox.io/s/sqlite-northwind-w6005

[2019-10-14 11:57] schickling opened #225 "Introduce loading state of schema changes"
Similar to the "dev server unreachable" state but less "error"-like / more friendly.

![image](https://user-images.githubusercontent.com/1567498/66749527-617d2600-ee8a-11e9-83fa-5ea48c8859d4.png)

[2019-10-14 16:52] sdnts opened #226 "Datepicker input for editing dates"
Here's a starting point:

<img width="414" alt="Screenshot 2019-10-14 at 18 51 58" src="https://user-images.githubusercontent.com/7689783/66768792-b719f880-eeb3-11e9-938f-3eb4ec5236e9.png">

[2019-10-14 16:55] madebysid commented on #214
Alpha.242 fixes this

[2019-10-14 16:55] #214 closed

[2019-10-14 17:07] #215 closed

[2019-10-14 17:07] madebysid commented on #96
Dates can now be edited as a string in alpha.242+, so I'm closing this issue. The bulk of the task, which is creating a datepicker is now tracked here: https://github.com/prisma/studio/issues/226

[2019-10-14 17:07] #96 closed

[2019-10-14 17:07] madebysid commented on #225
@schickling I've introduced a "banner" for this in alpha.242, we can possibly tweak this as we go.

<img width="2032" alt="Screenshot 2019-10-14 at 18 50 01" src="https://user-images.githubusercontent.com/7689783/66768678-74f0b700-eeb3-11e9-8f20-4ba06c8f1df9.png">

[2019-10-14 17:07] #225 closed

[2019-10-14 17:08] madebysid commented on #218
@schickling After some digging around, I discovered that this was a race condition, but in the preview deployment app itself, not Studio, so wasn't happening on `prisma2 dev`. I've now fixed this on https://prisma-studio.now.sh. Let me know if you still manage to see it though.

[2019-10-14 17:08] #218 closed

[2019-10-14 17:25] madebysid commented on #211
Boom

<img width="2032" alt="Screenshot 2019-10-14 at 19 24 50" src="https://user-images.githubusercontent.com/7689783/66770586-4f19e100-eeb8-11e9-9642-a7d71d344b7c.png">

[2019-10-14 17:25] #211 closed

[2019-10-14 17:25] madebysid commented on #201
Added Northwind and Chinook

[2019-10-14 17:26] #201 closed

[2019-10-14 17:27] madebysid commented on #204
Added Climate, Northwind and Chinook from https://github.com/prisma/prisma-datasets/tree/master/datasets/sqlite. Can add more if we come across others. I've made it so the process of doing so is now pretty trivial for me.

[2019-10-15 14:24] madebysid commented on #220
Should be fixed with alpha.244

[2019-10-15 14:24] #220 closed

[2019-10-15 14:24] madebysid commented on #219
Should be fixed with alpha.244

[2019-10-15 14:24] #219 closed

[2019-10-15 14:54] schickling opened #227 "Cannot read property 'map' of undefined"
![image](https://user-images.githubusercontent.com/1567498/66842876-4387f200-ef6c-11e9-8043-0cc4b59bf3eb.png)

Repro: Go to https://prisma-studio.now.sh/preview?project=chinook and select `Track` model

[2019-10-15 14:55] idan opened #228 "Break up Beta list into high/low priority"

[2019-10-15 14:57] schickling opened #229 "Improve design for "Getting things ready" loading state"
![image](https://user-images.githubusercontent.com/1567498/66843318-e80a3400-ef6c-11e9-8dd9-fe79c87cd5a9.png)

[2019-10-15 15:09] idan opened #230 "Modal Editing behavior"
Modal editing behavior in the databrowser can lead to some unintuitive behavior (see #185)

- Should we have modal editing behavior
- What's the prior art here?

[2019-10-15 15:12] idan commented on #226
https://reactdatepicker.com/ ?

[2019-10-15 15:14] idan commented on #226
Let's use an off-the-shelf thing for now, and improve styling later

[2019-10-15 15:16] idan commented on #115
Closing in favor of #114

[2019-10-15 15:16] #115 closed

[2019-10-15 15:34] madebysid commented on #227
Relevant logs for me:

[code]

[2019-10-15 22:06] ignatif commented on #186
@madebysid can you please tell what shortcut is?

[2019-10-15 22:08] madebysid commented on #186
@ignatif You should be able to select a cell, then Cmd+Shift+Right Arrow to turn the selection into a row. Then delete records using the Delete button that shows up!

[2019-10-16 23:55] chrisdrackett opened #231 "When opening studio for the first time"
data model:

[code]

**Error dump**
null is not an object (evaluating 'e.id')

**Stacktrace**

    in u
    in div
    in u
    in div
    in Hl
    in div
    in u

[2019-10-17 00:23] idan opened #232 "Only one filter can be created"
* Create a filter
* esc doesn't close the popover, neither does enter
* hitting "add a filter" blows away the current filter and fails to add another

![68rG4g51tx](https://user-images.githubusercontent.com/22723/66968340-8368db00-f039-11e9-8cc2-21f9444721fc.gif)

[2019-10-17 08:33] divyenduz opened #233 "Stuck at first run with some transaction error"
Schema:

[code]

<img width="1630" alt="CleanShot 2019-10-17 at 10 31 36@2x" src="https://user-images.githubusercontent.com/746482/66992055-71367d80-f0c9-11e9-944a-9d5242dc91df.png">

[2019-10-17 09:08] madebysid commented on #227
After some investigation, it looks like this error is specific to the Chinook dataset. The schema for this dataset came from https://github.com/prisma/prisma-datasets/tree/master/datasets/sqlite/chinook, which was written manually to account for the lack of introspection for SQLite.

Writing it, @nikolasburk realized that prisma2 does not support some kinds of join tables (https://github.com/prism

[2019-10-17 09:12] madebysid commented on #231
Hey @chrisdrackett, what version of `prisma2` are you on (`prisma2 -v`)? When you open Studio, you should also see a log in your DevTools Console that shows the Studio version. Could you let me know what these are?

Could also try updating to the latest alpha (`npm install -g prisma2@alpha`) and see if this persists?

Thanks!

[2019-10-17 09:39] madebysid opened #234 "Treat IndexedDB as a cache rather than a source of truth"
Currently, IndexedDB is responsible for initially loading metadata (projects, models, scripts etc.). This is done so that the UI can start rendering with real data before real data is available.

An unfortunate side effect of this, though, is that if this load fails, then Studio itself crashes before the cache has time to correct itself. With the new banner for the loading state: https://github.co

[2019-10-17 09:41] madebysid commented on #234
In fact, we might be able to get rid of IndexedDB and persistence entirely honestly.

[2019-10-17 11:38] schickling commented on #227
Thanks a lot for explaining @madebysid. I'd like to keep this issue open until prisma/prisma2#773 is fixed though for visibility. 🙏

[2019-10-17 14:35] schickling opened #235 "Can't hit enter for @id fields"
https://www.loom.com/share/fce2dc3b3e0c46d2bce9ffb78a04828d

[2019-10-17 14:39] madebysid commented on #235
Wait, you shouldn't be able to edit ID fields at all. :P Not being able to hit Enter is then intended.

Editing ID fields has other consequences with respect to relations etc. that I'm not sure about (if the query engine handles it all, or if I'm supposed to handle it etc.). I'll take that up as a part of https://github.com/prisma/studio/issues/172

[2019-10-17 14:40] schickling opened #236 "Intermittent connection problems (on Codesandbox)"
When using Studio on Codesandbox there seem to be intermittent connection problems which lead to the "red warning flickering" as in the video below (see end of video).

https://www.loom.com/share/708462c068ae41389a056dcd2b5f4455

[2019-10-17 14:46] schickling opened #237 "Provide easy way to reset all data"

[2019-10-17 16:12] chrisdrackett commented on #231
I'm on:

`prisma2@2.0.0-preview014.2, binary version: 237b46b97773f5018e336550e4285e2a78c38483`

`Studio version – "0.124.0"`

I installed the alpha and I'm getting the same thing. I did notice in doing the above if I shut `prisma2 dev` down and start it back up I get the following in the console:

[code]

that I'll look into

[2019-10-17 16:34] madebysid commented on #231
Hey @chrisdrackett, I tried the schema you provided, but I don't see this issue. I do have a couple of ideas:

1. I only recently added migrations for Studio data in IndexedDB. If you had data in there before this, that data would not be in the shape Studio expects, which might cause this. Long story short, try clearing your IndexedDB and see if that helps?
2. This might be a race condition, which

[2019-10-17 16:38] madebysid commented on #221
alpha.254 should fix this for good. There are also tests for this now.

[2019-10-17 16:38] #221 closed

[2019-10-17 16:38] chrisdrackett commented on #231
I've been dumping the db fairly often (I haven't even gotten to the point I can get data into it) so I don't think that is the issue.

Out of curiosity I just tried to open the page in Chrome and that works fine. I had been using safari so this might be a safari only bug.

Here is the console output from safari in case its useful (maybe this is a known thing that I wasn't aware of!)

[code]

[2019-10-17 16:41] madebysid commented on #222
There is now a button to remove all data and reload for fatal errors starting alpha.254.

<img width="1089" alt="Screenshot 2019-10-17 at 18 40 01" src="https://user-images.githubusercontent.com/7689783/67029430-8df4a480-f10d-11e9-8cd0-3533bd6cedad.png">

I guess https://github.com/prisma/studio/issues/237 would bring more such buttons?

[2019-10-17 16:41] #222 closed

[2019-10-17 16:42] madebysid commented on #235
Starting alpha.254, you won't be able to edit ID fields. You can still enter edit mode, but you won't be able to change it. I've made this design decision for now, documented it so we can discuss this next Tuesday!

[2019-10-17 16:42] #235 closed

[2019-10-17 16:43] madebysid commented on #117
This should be fixed now. Haven't seen it in a while, and there is now a test for this as well.

[2019-10-17 16:43] #117 closed

[2019-10-17 16:44] madebysid commented on #170
This should now be fixed with alpha.254

[2019-10-17 16:44] #170 closed

[2019-10-17 17:48] chrisdrackett commented on #231
clearing website data in my browser seems to have fixed the issue for me!

[2019-10-17 17:48] #231 closed

[2019-10-17 20:31] seanemmer commented on #186
Are the shortcuts documented somewhere?

[2019-10-18 07:07] divyenduz opened #238 "First run on blank starter with MySQL - photon error"
To reproduce:

1. Prisma init, blank project, MySQL
2. Run `prisma2 dev`

1. Prisma2 version (`prisma2 -v`):

[code]

2. Logs from Developer Tools Console, if any:
![image](https://user-images.githubusercontent.com/746482/67073085-94733280-f186-11e9-9a5c-a662ce17a62d.png)

3. Does the issue persist even after updating to the latest `prisma2` alpha (`npm i -g prisma2@alpha`)?
Yes

4. Prisma2 schema

[2019-10-18 07:16] divyenduz opened #239 "Switching tab with keyboard shortcut (cmd + 1) closes an open tab"
This is only observed with `cmd + 1`, other shortcuts and using mouse to switch tabs works fine.

1. Prisma2 version (`prisma2 -v`):
divyendusingh [cli]$ prisma2 -v
prisma2@2.0.0-alpha.253, binary version: 332b3baf392a718cffaccff674ebea649d05fcbd

2. Logs from Developer Tools Console, if any:
NA

3. Does the issue persist even after updating to the latest `prisma2` alpha (`npm i -g prisma2@alpha`)

[2019-10-18 07:22] divyenduz opened #240 "Editing boolean observations"
Editing boolean observations:

1. Took a couple of clicks for the field to open the list (or maybe it is a double-click?)
2. While not selected, the cell shows `undefined`

![CleanShot 2019-10-18 at 09 19 54](https://user-images.githubusercontent.com/746482/67074101-bbcaff00-f188-11e9-859f-54dddc6706dc.gif)

1. Prisma2 version (`prisma2 -v`):
divyendusingh [cli]$ prisma2 -v
prisma2@2.0.0-alpha.253

[2019-10-18 07:26] divyenduz opened #241 "Unconfirmed changes count"
This might not be a clean reproduction but mid way of using studio, I noticed that the unconfirmed changes are incorrect.

There is only 1 unconfirmed change in my UI but it shows 3.

GIF:

![CleanShot 2019-10-18 at 09 23 51](https://user-images.githubusercontent.com/746482/67074318-28de9480-f189-11e9-8a3f-e4c33b9b3368.gif)

1. Prisma2 version (`prisma2 -v`):
divyendusingh [cli]$ prisma2 -v
prisma

[2019-10-18 07:29] divyenduz opened #242 "Partial "unconfirmed changes discard""
In this image, I can discard all the uncommitted changes by clicking discard but how can I discard only one of these two lines? 🤔

<img width="1631" alt="CleanShot 2019-10-18 at 09 28 05@2x" src="https://user-images.githubusercontent.com/746482/67074529-9ee2fb80-f189-11e9-9616-e418d7fec9d3.png">

Intuitively, I tired the following:

1. Right click for a context menu for an option
2. Trying to sele

[2019-10-18 07:37] divyenduz opened #243 "Date fields - usability observations"
![image](https://user-images.githubusercontent.com/746482/67074810-23357e80-f18a-11e9-81bb-a603bac7fd03.png)

Observations:

1. Selecting the field shows null, it should be blank
2. I don't know what date format to type 🙏. So. I wrote `2019-10-11` and trying to commit that lost all changes
![CleanShot 2019-10-18 at 09 33 36](https://user-images.githubusercontent.com/746482/67074948-7f000780-f18a-1

[2019-10-18 09:35] schickling opened #244 "IMBD Demo Studio doesn't work"
![image](https://user-images.githubusercontent.com/1567498/67083348-4c123f80-f19b-11e9-8050-05a574994b08.png)

[2019-10-18 09:35] schickling opened #245 "Bubble errors from the transport layer as a fatal error"
![image](https://user-images.githubusercontent.com/1567498/67083393-5a605b80-f19b-11e9-99a2-e32f87fad58d.png)

[2019-10-18 09:44] madebysid commented on #240
@divyenduz It is indeed a double click. In general, double-clicking in any cell takes you to an "edit" mode for the cell.

However, maybe we should make an exception for booleans/enums? Adding it as a candidate to discuss on Tuesday!

The `undefined` thing is a bug that I will look into right away!

[2019-10-18 09:53] madebysid commented on #241
@divyenduz Ah, the count is a representation of the actions you've taken to reach that state, so I think the 3 is because you: created record, then changed `content` + `title`. Regardless, it should still be 2 rather than 3. I will look into this.

I'm also interested in investigating how the count's background color changed to gray from yellow :D

If you do run into this again, there should be an

[2019-10-18 09:55] madebysid commented on #242
@divyenduz Ah discarding specific actions is unimplemented still. Adding this to be discussed on Tuesday!

[2019-10-18 10:10] madebysid opened #246 "Figure out a way to fingerprint a prisma project"
This might be rendered invalid by: https://github.com/prisma/studio/issues/234,

Currently, we treat a project's path as its ID. As @divyenduz has seen multiple times, this has downsides, if you have delete and create a different project on the same path, Studio just cannot handle it, because it thinks it is the same project.

[2019-10-18 10:11] madebysid commented on #244
Fixed!

[2019-10-18 10:11] #244 closed

[2019-10-18 10:12] madebysid commented on #238
@divyenduz Yep this is most likely https://github.com/prisma/studio/issues/234, since the generated photon query was wrong.

As an FYI though, the photon.js status you see on `prisma2 dev` has nothing to do with Studio :P
Studio Server generates its own in-memory photon.

Closing this since it is a no-op, but we should discuss https://github.com/prisma/studio/issues/246 on Tuesday to get rid of pr

[2019-10-18 10:12] #238 closed

[2019-10-18 11:13] madebysid commented on #186
@seanemmer Nope, but I will try and document them today, will let you know here!

[2019-10-18 16:34] madebysid commented on #239
This should now be fixed with alpha.255!

[2019-10-18 16:34] #239 closed

[2019-10-18 16:35] madebysid commented on #245
This should now be fixed with alpha.255! (And on the Demo app)

[2019-10-18 16:35] #245 closed

[2019-10-18 16:35] madebysid commented on #223
I pushed out: https://github.com/prisma/studio/issues/90, which should address this. The query you were trying (with an invalid date perhaps), would now fail and show you a modal. The design for the modal is a discussion we need to have soon though.

[2019-10-18 16:35] #223 closed

[2019-10-18 16:35] madebysid commented on #90
Done with alpha.256!

[2019-10-18 16:35] #90 closed

[2019-10-18 16:35] madebysid opened #247 "Invalid actions modal"
Starting alpha.255, pending actions are validated before committing (https://github.com/prisma/studio/issues/90). Although most "edit" fields make sure invalid values don't end up in records, in case they do (in case of DateTimes for example), Studio does not try to commit the changes and instead shows you actions that are invalid:

<img width="1259" alt="Screenshot 2019-10-18 at 17 58 41" src="ht

[2019-10-18 16:36] madebysid opened #248 "Show invalid record cells in red rather than yellow"
With https://github.com/prisma/studio/issues/90 now done, record cells in the table view that are invalid should be shown with a red background color rather than yellow for easy identification (and correction)

[2019-10-19 07:47] schickling opened #249 "Show record count in dropdown (similar to model sidebar)"
![image](https://user-images.githubusercontent.com/1567498/67139844-fbf7b380-f254-11e9-9020-98863404bd97.png)

![image](https://user-images.githubusercontent.com/1567498/67139881-5f81e100-f255-11e9-805b-6b4e8df901b4.png)

[2019-10-19 08:06] schickling opened #250 "Disable "Add Record" button in tree view"
Given that we currently don't yet have a design for the "Add Record" flow in the tree view, I'd suggest to disable (e.g. gray out) the "Add Record" button when the tree view is selected.

[2019-10-21 14:59] madebysid commented on #186
@seanemmer I've pushed out alpha.262 (`npm i -g prisma2@alpha`) with a shortcut cheatsheet that can be accessed using `Cmd+/`. We'll definitely improve this in the future, but it lists all shortcuts as of now, which should be helpful.
It'll also land in the next preview release.

[2019-10-21 16:15] madebysid commented on #232
Should be fixed with alpha.266

[2019-10-21 16:15] #232 closed

[2019-10-21 16:15] madebysid commented on #249
Should show up with alpha.266

[2019-10-21 16:15] #249 closed

[2019-10-21 16:16] madebysid commented on #250
Should be disabled with alpha.266

[2019-10-21 16:16] #250 closed

[2019-10-22 08:26] madebysid commented on #224
Fixed with alpha.266

[2019-10-22 08:26] #224 closed

[2019-10-22 08:29] madebysid commented on #156
I think this is now fixed. The ID now reads `ID will be auto-generated`.

[2019-10-22 08:29] #156 closed

[2019-10-22 08:30] madebysid commented on #173
@schickling Please close if you think this is fixed!

[2019-10-22 08:31] madebysid commented on #146
Fixed with alpha.267

[2019-10-22 08:31] #146 closed

[2019-10-22 09:19] madebysid commented on #202
@janpio Would `prisma2 studio` do the same thing now?

[2019-10-22 09:56] madebysid commented on #144
Will be available in alpha.267.

[2019-10-22 09:56] #144 closed

[2019-10-22 10:11] madebysid commented on #130
@schickling Is this issue the same as this loader we made a while ago?

<img width="424" alt="Screenshot 2019-10-22 at 12 10 48" src="https://user-images.githubusercontent.com/7689783/67276463-028c6200-f4c5-11e9-92f9-570d6b1aee47.png">

[2019-10-22 10:14] madebysid commented on #93
I believe this is fixed now that the selected state no longer has a solid fill

[2019-10-22 10:14] #93 closed

[2019-10-22 10:16] madebysid commented on #5
Closing in favour of https://github.com/prisma/studio/issues/159

[2019-10-22 10:16] #5 closed

[2019-10-22 11:27] janpio commented on #202
Yes, that would probably be a shorthand thing. I am not sure if you can start a long running process via the npm binary (which would let you return back to the command line instead of having the process running).

[2019-10-22 11:30] madebysid commented on #202
`prisma2 studio` could start the studio server in the background to achieve what you want. That would then return control back to the command line.

The server would then kill itself when all clients disconnect so it doesn't keep running forever

[2019-10-22 12:39] madebysid commented on #248
Will be available with alpha.267.

[2019-10-22 12:39] #248 closed

[2019-10-22 13:46] madebysid commented on #243
alpha.268 will have the following improvements that should help:

1. When you first edit the date AND it is empty, the value is automatically set to the current date. That should help people figure out what the format is.
2. The input's placeholder itself is now a (sample) ISO String, so even if you clear the input, that should be a helpful hint.

On top of all this, we have validation for actions

[2019-10-22 13:46] #243 closed

[2019-10-22 14:09] madebysid commented on #247
Hold on, https://github.com/prisma/studio/issues/74 + https://github.com/prisma/studio/issues/242 + https://github.com/prisma/studio/issues/248 should handle this, closing

[2019-10-22 14:09] #247 closed

[2019-10-22 14:10] madebysid commented on #233
@divyenduz Closing this since we discussed that this is possibly due to https://github.com/prisma/studio/issues/246. Please reopen if I'm mistaken!

[2019-10-22 14:10] #233 closed

[2019-10-22 14:47] #228 closed

[2019-10-22 15:01] idan commented on #242
Commit or rollback is sufficient UI here. Closing/Wontfix.

[2019-10-22 15:01] #242 closed

[2019-10-22 15:14] idan commented on #74
Add to "commit bar" if there are invalid fields:
- error message in red like "You have invalid staged changes, please fix all of the fields highlighted in red."
- Disable the commit button while there are invalid changes.

[2019-10-22 16:06] schickling commented on #130
No the idea was to turn the "►" button (on the left side of a field) into a spinner while the data is still loading, so the user can't yet expand.

[2019-10-22 16:07] #173 closed

[2019-10-24 16:40] kleydon opened #256 "Selecting and Copying ID text values in Prisma Studio"
In Prisma2 (preview 15) there doesn't appear to be a direct, intuitive way to copy (e.g. copy-paste) the value of an id within the browser (I'm using Chrome). The text isn't selectable in the table view, and in the tree view, text can be selected, but the selection is immediately lost on mouse-up, and so can't be copied.

[2019-10-26 13:17] tvvignesh opened #258 "Updating code on hot reload in admin UI"
Hi. This is a minor enhancement - You can take it very low on priority. When you run `prisma2 dev` everything is good and when I make modifications to my schema, it autoreloads without any issues. But, the code generated is not updated on hotreload.

Screenshot below - Notice that I modified the name userSchema to user which is updated in the Admin UI but the code still shows userSchema with error

[2019-10-27 06:13] tvvignesh opened #251 "Bug with adding records using the UI"
Hi. I was trying to add records to a schema (which was related) like below. If you noticed, I had a schema for Phone, User and Email all of them with their own definitions and I was able to successfully commit using the UI to Phone and Email but when I try to reference those records in User schema I get the error in dev console like below and am not able to commit records.

![Screenshot from 2019-

[2019-10-27 06:20] tvvignesh opened #252 "Improper count shown when selecting from a related schema"
As you may see in the screenshot below, there is only one record added and selected but it shows 2 records selected as below.

Also, if you notice, it says: **Showing 1 of 0** while the total number of records available from the list you see is 1.

**Steps to reproduce:**

Double click to select the related schema, check the record. It shows 2 rows selected

![Screenshot from 2019-10-27 11-31-56](

[2019-10-27 07:08] tvvignesh opened #253 "Select All checkbox does not work in the UI when clicked"
Hi. While I am able to select records individually using the checkbox, the event on select all button does not work. I don't find any error or logs in the console as well when clicked. I guess the event is not bound. Even tried refreshing the page and tried again.

![Screenshot from 2019-10-27 12-32-41](https://user-images.githubusercontent.com/1165845/67631011-79a36b00-f8b6-11e9-9f97-c37cd1994d4c

[2019-10-28 10:04] nikolasburk opened #254 "Can't add record for model that has required enum"
I'm trying to create a record for a model that has a required enum field:

[code]

However, in Studio I can't get past this screen because I can't select/provide an enum value:

![image](https://user-images.githubusercontent.com/4058327/67669656-a1580900-f972-11e9-9aa2-e398fbe39ede.png)

1. Prisma2 version (`prisma2 -v`):

[code]

2. Logs from Developer Tools Console, if any:

[code]

4. Prisma2 s

[2019-10-28 10:10] nikolasburk opened #255 "Minor UI issue: Optional / Question mark not shown for some fields"
1. Prisma2 version (`prisma2 -v`):

[code]

I have this model:

[code]

In the UI, Studio properly shows a question mark at the `locatedIn` and `invoice` fields but doesn't show it for `price` and `purchaseTime` even though that's also marked as optional on the model:

![image](https://user-images.githubusercontent.com/4058327/67670230-bd0fdf00-f973-11e9-80aa-7e6af08ab098.png)

[2019-10-28 10:17] nikolasburk opened #257 "Can't add record that gets connected to another existing record upon creating"
I am trying to create a new `Item` record and connect it to an existing `ItemType` record based on these models:

[code]

However, the `Item` record can't be created:

### Provide values for all fields

**Before commit**

![image](https://user-images.githubusercontent.com/4058327/67670353-019b7a80-f974-11e9-8df7-ec389617fa6a.png)

**After commit**

![image](https://user-images.githubusercontent.co

[2019-10-28 10:38] nikolasburk commented on #95
Should this be closed as it seems that this was implemented? cc @madebysid

![image](https://user-images.githubusercontent.com/4058327/67672094-7623e880-f977-11e9-8a13-49c7ce74912b.png)

[2019-10-28 10:39] nikolasburk opened #259 "Rename "Run" to "Reload""
The naming of the "Run" button is very confusing for users.

![image](https://user-images.githubusercontent.com/4058327/67672151-9bb0f200-f977-11e9-96f2-c58fd4ad003d.png)

Alternative suggestions:

- Reload
- Refresh
- Load

[2019-10-28 10:51] madebysid commented on #95
@nikolasburk It is kept open as a reminder to change this in all designs as well.

[2019-10-28 12:55] madebysid commented on #253
@tvvignesh Thanks for reporting! I just checked, and this is indeed unimplemeted, I'll have a fix out on alpha soon!

[2019-10-28 12:58] madebysid commented on #256
@kleydon Thanks for reporting! I agree that this should be made easier.
Also, I was able to see this behaviour, and clicking anywhere on an open node in the Tree view should definitely not close the node, that's a bug. I'll fix that right now, so you should be able to copy the ID from the tree view at least, till we figure out a better way to do this!

[2019-10-28 13:01] madebysid commented on #258
@tvvignesh Is this the (auto-generated) script for one of the models? In that case, it should update and this is a bug.

If this is a script that you've written yourself, then Studio doesn't attempt to change it, since it'd require parsing JS. This can then be an improvement!

[2019-10-28 13:31] tvvignesh commented on #258
@madebysid Thanks for the clarification. This was the autogenerated script. I just changed the schema file and studio got hot-reloaded and then saw this error. If it occurs again, I will confirm.

[2019-10-29 05:30] heymartinadams opened #274 "Changing optional relation into required relation causes crash"
Changing this:
[code]

to this:
[code]
causes an error. In this case, each model has a single record saved in the SQLite database, with the single `VenueRegion` record (e.g. `name`: “San Francisco Bay Area”) already connected to the `Venue` single record (e.g. `name`: “Dolores Park”).
[code]

[2019-10-29 12:14] do4gr opened #260 "Adding Records with Required Fields has confusing UI"
When adding a new record which has some of its fields required, the fields are pre-populated in the UI with default values. If not all of them are changed to user-entered values, the complete record is lost when hitting commit. There is no error message.

Then all data needs to be entered again. Took me a bit to figure that out. Maybe required fields that would invalidate the commit should be colo

[2019-10-29 16:27] schickling opened #261 "Improve UX for keyboard-only "Add record" flow"
Currently it's not possible to add a record just using my keyboard but should be. Here is an example demonstrating what I'd like to see:

- Click "Add record"
- Studio automatically focusses first cell in edit mode
- User fills out value, presses tab, fills out next value, ...
- Presses CMD + Enter (?) to create the record

Note: It's fine for now to "ignore" relational fields for the scope of thi

[2019-10-29 16:27] idan commented on #260
Discussed at review:
* Save button disabled until valid state is reached
* No placeholder values, they're a lie
* Red outline and icon for "invalid" state. Invalid because bad value, no value, etc. Yellow background for "new" fields.

[2019-10-29 16:28] schickling opened #262 "Double click on empty space should trigger "add record" flow"

[2019-10-29 16:29] idan commented on #261
tl;dr CMD-enter shortcut to commit

[2019-10-29 16:42] heymartinadams commented on #227
Receiving the same error message `Cannot read property 'map' of undefined` when I try to connect an optional list from the `EventTopic` model to a new record in the `Event` model.

Use `prisma2@2.0.0-preview015`.

![image](https://user-images.githubusercontent.com/11673745/67788502-b2b31b00-fa2f-11e9-8d47-de76577db4ed.png)

Schema:
[code]

[2019-10-29 16:48] heymartinadams commented on #227
This appears to be happening with every `...-to-many` connection.

[2019-10-30 13:45] madebysid commented on #199
After a discussion with @idan, we decided to move all pending actions (unsaved changes) and have them as a sticky section (or a pinned section) on top of the databrowser. This would also include created records.

Addressing @janpio's points:

1. This stays unaffected. We're keeping endless scrolling rather than a page based system
2. Git clients pin staged files to the top. My reference was Sublim

[2019-10-30 13:51] #74 closed

[2019-10-30 13:51] madebysid commented on #259
@nikolasburk This should now be done with alpha.276!

[2019-10-30 13:51] #259 closed

[2019-10-30 13:51] madebysid commented on #241
@divyenduz Pending actions are now batched better, so that SHOULD address this in alpha.276. Let me know if you still see this.

[2019-10-30 13:51] #241 closed

[2019-10-30 13:58] madebysid commented on #252
@tvvignesh I've made some changes to this dialog specifically and cannot seem to reproduce this anymore. Could you try out the latest alpha (alpha.276) and check if you still see this?

[2019-10-30 13:59] madebysid commented on #227
@heymartinadams I believe your issue is not the same as this one. The trace however is the same as https://github.com/prisma/studio/issues/251, I'll look into it soon. Please follow that issue for updates :)

[2019-10-30 14:00] #130 closed, assigned to sdnts

[2019-10-30 17:05] schickling opened #263 "Relation modal: Query arg UI not visible (z-index wrong?)"
![image](https://user-images.githubusercontent.com/1567498/67880857-c5b51080-fb3f-11e9-9d32-31c9a03bad89.png)

[2019-10-30 17:29] schickling commented on #199
Does @idan still need to provide a design proposal or is this already actionable @madebysid?

[2019-10-31 07:01] madebysid commented on #199
This is now actionable by me.

[2019-11-01 10:07] schickling opened #264 "Float values are rendered differently in read vs edit mode (comma vs dot)"
![image](https://user-images.githubusercontent.com/1567498/68017778-c496f700-fc97-11e9-8c68-780cc66ef009.png)

[2019-11-01 10:45] madebysid commented on #125
alpha.279 has UI to edit string, int, float and enum lists inline. It is similar to what we had in the details sidebar before it was removed.

@idan Could you check it out and see how it feels? Should we close this issue or do we keep it open for a better design?

[2019-11-01 14:10] schickling opened #265 "Unify flows: Model selection / New tab"
There are currently a lot of different ways to roughly accomplish the same. We should think through whether we could/should unify these flows:

## 1. Via visual query builder

![image](https://user-images.githubusercontent.com/1567498/68030333-87436100-fcb9-11e9-9100-cbfa0e11c5df.png)

## 2. Via new tab popup

![image](https://user-images.githubusercontent.com/1567498/68030381-a510c600-fcb9-11e9-8

[2019-11-01 14:18] schickling commented on #237
Here's an initial design proposal. It's not clear to me yet where the best location for this feature would be but this should get the ball rolling and unblock users. As part of #265 we should rethink this further.

![image](https://user-images.githubusercontent.com/1567498/68030918-cf16b800-fcba-11e9-91d5-7fff95e2c1ba.png)

[2019-11-01 14:19] schickling commented on #237
@madebysid can you implement the functionality for this yourself or does this depend on some (missing) SDK functionality?

[2019-11-01 14:20] madebysid commented on #237
It is possible, I'll run a `deleteMany` on all models.

[2019-11-01 17:47] madebysid commented on #199
Will be out with alpha.279.

[2019-11-01 17:47] #199 closed

[2019-11-01 17:49] madebysid commented on #254
@nikolasburk Enums and enum lists are now editable, can you try this again?
The weirdness with the create flow itself will be addressed soon.

[2019-11-01 17:53] madebysid commented on #264
@schickling This is a browser localization issue. There is a `lang` attribute that I can add that will fix this in Firefox, but Chromium and descendents do not respect it.

Attempting to manually fix this will cause a bunch of edge cases to break and I do not think this is worth the effort. Heavily leaning towards a wontfix.

[2019-11-01 18:18] janpio commented on #264
As a Firefox user, adding the `lang` attribute seems like a easy enough first thing to do.

[2019-11-01 18:20] janpio commented on #237
Please make sure that the need to put this somewhere more safe and hidden is tracked. Super scary, even if it needs 5 confirmations.

[2019-11-02 10:53] schickling opened #266 "Enable keyboard navigation for tree view"
It would be great if you could use your arrow keys to navigate through the tree data view (similar to how you can navigate the file browser in VSCode).

[2019-11-02 10:56] schickling commented on #264
@madebysid can we then turn the behavior around and Studio detects the `lang` behavior and uses it for the read-view as well?

[2019-11-04 15:05] madebysid commented on #254
You should now be able to do this as you expect. Please let me know if this is still an issue!

[2019-11-04 15:05] #254 closed

[2019-11-04 15:09] madebysid commented on #260
@do4gr This is now addressed with alpha.280
The placeholders shown are no longer lies. Moreover, the default value for fields when you create a new record now come from the Prisma Schema (if you have a `@default` attribute set). If not, then they fall back to sensible defaults. They're also no longer for show. They're real values that will be committed if you press save.

About the loss of data, t

[2019-11-04 15:09] #260 closed

[2019-11-04 15:44] madebysid commented on #255
@nikolasburk I'm unable to reproduce this with the schema you've added. Are you still seeing this?

[2019-11-04 16:09] schickling opened #267 "Cannot read property 'isString' of undefined"
Repro:

- Go to
- Open `Model2`
- Click "Add record" and try to edit the `model1` field

![image](https://user-images.githubusercontent.com/1567498/68136508-ad6d3900-ff25-11e9-8537-a7af1fd337d6.png)

[2019-11-04 16:15] nikolasburk commented on #255
Nope, seems to be fixed 👍

[2019-11-04 16:15] #255 closed

[2019-11-04 16:22] schickling opened #268 "Invalid field when opening"
https://prisma-studio.now.sh/preview?project=capabilities

![image](https://user-images.githubusercontent.com/1567498/68136734-0c32b280-ff26-11e9-8e96-1495075795e2.png)

[2019-11-04 16:22] madebysid commented on #268
@schickling That's a photon issue I think. Reported it here: https://github.com/prisma/prisma2/issues/881

[2019-11-04 16:40] schickling commented on #260
@do4gr can you indeed confirm this issue addressed sufficiently for you?

[2019-11-05 09:22] madebysid opened #269 "Click on column to sort"
It is a simple thing that people expect from a data viewing tool. There already is a way to do this using filters, so this really would just be a shortcut to an existing flow.

[2019-11-05 10:28] madebysid commented on #189
Hey @johannesschobel, I'm sorry I completely forgot to get back to you on this, this has been fixed for a while. Please reopen if you're still seeing this!

[2019-11-05 10:28] #189 closed

[2019-11-05 10:29] madebysid commented on #240
This should now be fixed with alpha.280

[2019-11-05 10:29] #240 closed

[2019-11-05 10:47] johannesschobel commented on #189
Dear @madebysid , i think i already double-checked it some time ago :D Thanks for your help!

[2019-11-05 15:25] madebysid commented on #267
Fixed with latest alpha

[2019-11-05 15:25] #267 closed

[2019-11-05 17:02] madebysid opened #270 "Jump to first invalid cell broken"
Focuses only the record with the invalid cell, should focus exact cell.

[2019-11-05 17:02] madebysid commented on #270
Fixed with alpha.281

[2019-11-05 17:02] #270 closed

[2019-11-05 17:03] madebysid opened #271 "Scalar list edits: Create new value after pressing Enter rather that on change"
<img width="493" alt="Screenshot 2019-11-05 at 18 03 03" src="https://user-images.githubusercontent.com/7689783/68228899-8894c680-fff6-11e9-9082-ad42bac58d86.png">

Instead of creating a new value onChange, do it onConfirm.

[2019-11-05 17:03] madebysid commented on #271
Fixed with alpha.281

[2019-11-05 17:03] #271 closed

[2019-11-06 10:16] schickling opened #272 "Design ideas: Better data tables"
I recently came across this [**fantastic blog post**](https://uxdesign.cc/design-better-data-tables-4ecc99d23356) about designing better data tables. This describes a lot of great patterns that we had on our roadmap anyway.

[2019-11-07 09:10] madebysid commented on #192
Changed the dropdown to two buttons for the tree/table view. Didn't end up with the segmented controls since it was hard to judge which one was active (since there's only two of them). Could try icons instead as well. Closing this, but it can be changed (perhaps in a PR so you guys can experiment with it)

[2019-11-07 09:15] madebysid commented on #272
Things that are pretty low effort and can be tackled right after today's release:

- [ ] Sticky ID field (this would also mean the ID field is always the first column)
- [ ] Zebra stripes on rows
- [ ] Display density
- [ ] Expandable rows (The tree view might be better for viewing large amounts of data though)
- [ ] Sortable columns

RELATIVELY higher effort
- [ ] Searchable columns
- [ ]

Let me

[2019-11-07 09:48] schickling commented on #192
Thanks for already shipping this improvement. I'm not quite happy yet with the design of this, so keeping this issue open for now.

[2019-11-07 20:51] schickling opened #273 "Error: undefined target="exit""
![image](https://user-images.githubusercontent.com/1567498/68426462-7e1a2e80-01a8-11ea-9283-6f8088b7f88b.png)

Repro:
[script.zip](https://github.com/prisma/studio/files/3821632/script.zip)

[2019-11-08 10:58] madebysid commented on #273
Fixed with alpha.293. Was a side-effect of a breaking change from Photon. Will go out with today's hotfix as well.

[2019-11-08 10:58] #273 closed

[2019-11-08 14:41] madebysid commented on #206
Closing in favour of https://github.com/prisma/studio/issues/263

[2019-11-08 14:41] #206 closed

[2019-11-08 15:07] madebysid opened #275 "Cannot have Studio open in two tabs at the same time"
Both tabs try to generate/connect to photon at the same time and studio-server cannot handle this. This leads to one of those tabs to be stuck in the `Getting things ready` state.

[2019-11-08 17:13] garyro opened #276 "prisma studio error"
I've attached my schema file

**Error dump**
e is null

**Stacktrace**

    in u
    in div
    in u
    in div
    in lc
    in div
[schema.prisma.txt](https://github.com/prisma/studio/files/3825538/schema.prisma.txt)

    in u

[2019-11-08 22:04] chrisdrackett opened #277 "Error when trying to add a user via studio"
Schema:

[code]

**Error dump**
Cannot set property 'createdAt' of undefined

**Stacktrace**
TypeError: Cannot set property 'createdAt' of undefined
    at http://localhost:5555/studioBundle.js:102:29947
    at Array.reduce (<anonymous>)
    at http://localhost:5555/studioBundle.js:102:29770
    at Array.reduce (<anonymous>)
    at Nn (http://localhost:5555/studioBundle.js:102:29342)
    at Hn.<an

[2019-11-12 17:55] chrisdrackett opened #278 "Error when trying to create a record"
Just trying to add a user via studio. I get the following:

**Error dump**

Invalid `photon.users.create()` invocation:

{
  data: {
    id: '',
    createdAt: '2019-11-12T17:52:20.468Z',
    updatedAt: '2019-11-12T17:52:20.468Z',
    name: 'Bob',
    email: 'bob@bob.com',
    following: {
      set: []
[code]
    },
    logs: {
      set: []
[code]
    },
    items: {
      set: []
[code]
    },

[2019-11-12 22:07] darknoon opened #279 "Following graphql-auth tutorial, Error in query graph construction"
I tried adding my own fields, but it turns out just doing the new Category type from the tutorial breaks in studio:

https://github.com/prisma/prisma2/blob/master/docs/tutorial.md

**Error dump**
Error in Photon:
Error: Reason: Error in query graph construction: QueryParserError(ObjectValidationError { object_name: "Query", inner: FieldValidationError { field_name: "findManyPost", inner: ObjectVal

[2019-11-13 05:54] heymartinadams commented on #274
Awesome. Shall I close this comment?

[2019-11-14 06:45] AcerFeng opened #280 "Page error"
<Anything that helps us reproduce the error goes here>

In Chrome 78.0.3904.97

"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.97 Safari/537.36"

**Error dump**
Cannot read property 'id' of null

**Stacktrace**

    in u
    in div
    in u
    in div
    in Ec
    in div
    in u

console:

[code]

but it's work fine in Firefox

"Mozilla/5.0 (Wi

[2019-11-15 00:13] chrisdrackett opened #281 "error with studio"
I see the tables of my DB in the left hand column and the record counts there are correct. However clicking on anything gives me no data ("Run query to see results") and the below error:

1. Prisma2 version (`prisma2 -v`): prisma2@2.0.0-preview016.2

2. Logs from Developer Tools Console, if any:
[code]

3. Does the issue persist even after updating to the latest `prisma2` alpha (`npm i -g prisma2@

[2019-11-15 01:41] chrisdrackett opened #282 "error when trying to view data"
I've gotten to the point that I can view 6 out of my 7 tables in studio. However on the 7th I get the following error:

1. Prisma2 version (`prisma2 -v`): prisma2@2.0.0-preview016.2

2. Logs from Developer Tools Console, if any:
[code]

3. Does the issue persist even after updating to the latest `prisma2` alpha (`npm i -g prisma2@alpha`)?

4. Prisma2 schema (if relevant):
[code]

[2019-11-17 15:52] sorenbs opened #283 "Unedited cells in pending change area are transparent when selected"
https://www.loom.com/share/ebb3f15c558c41808cd1a631b43497a6

[2019-11-17 23:24] jwld opened #284 "Encountering an error in Prisma Studio after running "prisma2 dev""
Datamodel:
[code]

Error:
[code]

[2019-11-18 10:58] madebysid commented on #284
@jwld I've actually been seeing errors like this off and on but haven't been able to consistently reproduce them. Are you using Postgres?

[2019-11-18 12:24] madebysid commented on #278
@chrisdrackett I've been able to figure out what the problem here is, expect a fix soon. Will update here!

[2019-11-18 16:09] HubnerJonathan opened #291 "Prisma Studio : "Failed to run script""
Hi,

I'm new to the prisma framework. When I try to use prisma studio (by default on http://localhost:5555/) this error appears. I can still use studio and navigate into the different tables of my DB but they appear empty.

`Error in Photon:
Error: undefined target="exit" timestamp="2019-11-18T15:40:41.176Z" fields={"message":"255"}
    at /home/avalon/.nvm/versions/node/v12.2.0/lib/node_modules/p

[2019-11-18 16:17] madebysid commented on #281
@chrisdrackett This usually happens when Studio's trying to use an older prisma2 binary. Not sure how it got to this state, but a fresh `npm i` should re-download the correct binary and fix this.
I've also just pushed out alpha.309, so if you see this after updating to that version as well, please let me know, and I'll look into this again!

[2019-11-18 16:17] madebysid commented on #278
@chrisdrackett Try out alpha.309, that includes a fix for this!

[2019-11-18 16:18] madebysid commented on #277
Hey @chrisdrackett, I've just pushed out alpha.309, and I cannot seem to reproduce this issue there. Could you try the alpha out?
If you still see it, could you post the entire schema you're using? That'd help, thanks!

[2019-11-18 16:40] madebysid commented on #279
Hey @darknoon, apologies on the delay, I've just pushed out alpha.309 with a bunch of related fixes that should hopefully address this as well. Could you try it out (`npm i -g prisma2@alpha`)and let me know if you're still stuck?

[2019-11-18 16:43] madebysid commented on #280
Hey @AcerFeng, I'm unable to see this. I did just push out alpha.309 with a bunch of fixes. Could you try installing it with `npm i -g prisma2@alpha` and let me know if you're still seeing this? Thanks!

[2019-11-18 16:45] madebysid commented on #284
Hey @jwld, I've just pushed out alpha.309, that has a couple of fixes for similar errors. Could you try installing it with `npm i -g prisma2@alpha` and let me know if you still see this? Thanks!

[2019-11-18 17:36] garyro commented on #276
I can not read my original issue (not sure why). Sorry I haven't followed up I think the problem I was having was related to query-engine-linux-glibc-libssl1.1.0  for whatever reason I had several instances of it running. I assume from things not exiting properly. Once I removed them this issue and a few others disappeared. Now when I have a problem the first thing I check is, is more than one ins

[2019-11-18 17:38] madebysid commented on #276
Ah, okay! Please reopen if you see this in the future!

[2019-11-18 17:38] #276 closed

[2019-11-18 20:57] johndevor commented on #284
I am seeing a similar error after creating a new templated prisma db using sqlite:
[code]

[2019-11-18 21:11] jwld commented on #284
@pantharshit00 tried clearing the site data and no luck
@madebysid Yep using postgres! I'm seeing this error all the time right now.

Just recreated it by:
- Created a blank project, ran the setup with `prisma2 init`, connecting to a fresh local postgres db
- Ran `prisma2 dev` then opened prisma studio and all was fine
- Added `test: Int` to the `User` schema generated by `init`:
[code]

After tho

[2019-11-19 13:42] nikolasburk opened #285 "ID not shown for simple `User` model"
1. Prisma2 version (`prisma2 -v`):

[code]

2. Logs from Developer Tools Console, if any:

[code]

4. Prisma2 schema (if relevant):

[code]

The `id` for the records aren't shown:

![image](https://user-images.githubusercontent.com/4058327/69151395-dc191100-0ada-11ea-8642-8f9cfe5144bf.png)

[2019-11-19 13:43] nikolasburk commented on #285
Ah, sorry it seems that the ID hasn't been set. I just douible checked in the SQLite browser 🤔

![image](https://user-images.githubusercontent.com/4058327/69151489-04087480-0adb-11ea-88eb-748759351e03.png)

[2019-11-19 13:43] #285 closed

[2019-11-19 13:46] nikolasburk opened #286 "ID not generated when creating new records"
1. Prisma2 version (`prisma2 -v`):

[code]

2. Logs from Developer Tools Console, if any:

[code]

4. Prisma2 schema (if relevant):

[code]

Now when I crate a new record in Studio, no `id` is being set. When trying to create another record, I (logically) get this error:

![image](https://user-images.githubusercontent.com/4058327/69151662-58135900-0adb-11ea-906b-58e9ee672488.png)

[2019-11-19 15:44] idan opened #287 "Tests"
- [x] Create flow
- [x] Update record flow
- [x] Pagination / Filters view

[2019-11-19 15:49] nikolasburk opened #288 "Failed to run script. Error in Photon: Studio not usable with SQLite project"
1. Prisma2 version (`prisma2 -v`):

[code]

2. Logs from Developer Tools Console, if any:
[code]

![image](https://user-images.githubusercontent.com/4058327/69162040-543c0280-0aec-11ea-8a4e-a2d95321068f.png)

4. Prisma2 schema (if relevant):
[code]

I submitted the Prisma schema including the SQLite DB here so you can reproduce it:

[prisma.zip](https://github.com/prisma/studio/files/3864640/prism

[2019-11-19 15:49] idan opened #289 "Display index in scalar lists"

[2019-11-19 20:44] madebysid opened #290 "Add a few sanity tests that use a real Photon instance + SQLite"
Currently all integration tests use a stubbed version of photon and unit tests verify all photon queries that are generated. This works pretty well because individual things can be tested properly. This was done to be able to start on a clean slate for every test and for speed, since photon generation takes way too long right now, and we do not want to have a real SQLite file slowing stuff down ei

[2019-11-20 09:16] nikolasburk commented on #286
Just to confirm, Studio sends an empty string as ID to the query engine:

[code]

![image](https://user-images.githubusercontent.com/4058327/69225488-c9f0ae80-0b7e-11ea-9a8d-d5edec4ea098.png)

[2019-11-20 09:46] madebysid commented on #286
@nikolasburk Ah perfect, this is fixed now, will be out soon

[2019-11-20 09:56] madebysid commented on #284
@jwld Thanks so much for that, I was able to fix this, it will be out with the next alpha. Will let you know here!

[2019-11-20 18:43] madebysid commented on #281
@chrisdrackett This usually happens when Studio's trying to use an older/incompatible prisma2 binary. Not sure how it got to this state, but a fresh npm i should re-download the correct binary and fix this.
I've also just pushed out alpha.337, so if you see this after updating to that version as well, please let me know, and I'll look into this again!

[2019-11-20 18:43] #281 closed

[2019-11-20 18:43] madebysid commented on #280
Hey @AcerFeng, I'm unable to see this. I did just push out alpha.337 with a bunch of fixes. Could you try installing it with npm i -g prisma2@alpha and let me know if you're still seeing this? Thanks!

[2019-11-20 18:44] madebysid commented on #279
Hey @darknoon, apologies on the delay, I've just pushed out alpha.309 with a bunch of related fixes that should hopefully address this as well. Could you try it out (npm i -g prisma2@alpha)and let me know if you're still stuck?

[2019-11-20 18:44] madebysid commented on #278
@chrisdrackett Try out alpha.337, that includes a fix for this!

[2019-11-20 18:44] madebysid commented on #277
Hey @chrisdrackett, I've just pushed out alpha.337, and I cannot seem to reproduce this issue there. Could you try the alpha out?
If you still see it, could you show me the entire schema you're using? That'd help, thanks!

[2019-11-20 18:44] madebysid commented on #284
Hey @jwld @johndevor , I've just pushed out alpha.337, that has a couple of fixes for similar errors. Could you try installing it with `npm i -g prisma2@alpha` and let me know if you still see this? Thanks!

[2019-11-20 18:46] madebysid commented on #291
@HubnerJonathan Could you try out the latest alpha (alpha.337) with `npm i -g prisma2@alpha` and let me know if you still see this? Thanks!

[2019-11-20 18:46] madebysid commented on #257
@nikolasburk alpha.337 should have a fix for this, please give it a shot and let me know if you're still seeing this!

[2019-11-20 18:48] madebysid commented on #288
@nikolasburk @eli-crow Could you try out the latest alpha (alpha.337) with `npm i -g prisma@alpha` and let me know if this is fixed for you?

[2019-11-20 18:49] madebysid commented on #286
@nikolasburk This should now be fixed with alpha.337, please give it a shot and let me know if you're still seeing this!

[2019-11-20 18:51] madebysid commented on #283
alpha.337 should fix this. Let me know if you still see this!

[2019-11-20 18:51] #283 closed

[2019-11-20 18:52] #288 closed

[2019-11-20 18:52] #286 closed

[2019-11-20 18:53] #278 closed

[2019-11-20 18:53] #277 closed

[2019-11-20 18:55] madebysid opened #292 "Add integration tests for prisma2 dev"
Studio and prisma2 CLI are tested individually, but there's no tests that make sure the integration between the two works properly. This is arguably the most brittle part of our stack right now. Even a few sanity tests would greatly help build confidence before shipping.

[2019-11-20 19:02] darknoon commented on #279
@madebysid trying to update to that alpha I ran into a version compatibility issue between photonjs and prisma2: https://gist.github.com/darknoon/235642d683c454ef4278f9d2c6e04f39

I fixed it and I'm trying again.

[2019-11-20 19:05] darknoon commented on #279
Fixed that, now stuck on [this error](https://gist.github.com/darknoon/b1e6d76d21ed2622beb6ded324a8abe2):

[code]

[2019-11-20 19:12] madebysid commented on #279
Right, so there have been a few breaking changes, which means photon is now being generated in a different directory. A full description of it all will be released with tomorrow's preview release, including updated examples. This Slack community is where it'll be posted about: https://slack.prisma.io/ (#prisma2-preview channel)

Sorry about the confusion, I somehow missed that you were following a

[2019-11-20 19:36] darknoon commented on #279
Thanks, Sid. I will check in tomorrow.

[2019-11-20 21:32] johndevor commented on #284
@madebysid Works now with a blank project with basic APIs! It asked me to update my photon package and that did the trick.

That said, it isn't working when I choose to setup a boilerplate with options js/graphql/auth, showing this error (and it did not ask me to update photon in this case):

[code]
I tried updating the prisma2 version in the auth boilerplate but that didn't do the trick.

[2019-11-21 04:50] jwld commented on #284
@madebysid  It's _possibly_ fixed - it's working right now, but took a bit of hacking around rebuilding the database and reinstalling the library. Was seeing various errors in the process, including the one above, but right now it seems to be working :)

[2019-11-21 07:27] madebysid commented on #284
@johndevor Ah that's expected. We introduced a breaking change that might break the prisma2 init flow for the alpha channel.
We have a release coming up today that will update the examples to account for this change. That should then make sure that prisma2 init clones the right project.
If you're on our Slack community, there will be a post on the #prisma2-preview channel when we push it out  (alo

[2019-11-21 16:01] madebysid opened #293 "Monitor Demo App"
Every time the photon integration changes, there is very high chance that the demo app will break.

I should set up something that regularly sends curl commands to the Now function, perhaps a Postman Monitor or something.

[2019-11-22 09:10] sdnts opened #294 "Make it clearer that the error bar can be clicked"
It seems people do not realize that you can click on the error bar on top to see the full error. Perhaps we should introduce an explicit button / make the text in there look like a link so it is obvious that the error can be "opened"

[2019-11-22 15:43] darknoon commented on #279
Hey @madebysid, I couldn't find the announcement yesterday. Could you link it to me?

[2019-11-22 17:25] madebysid commented on #293
Set up a Postman Monitor that runs every 3 hours. If any tests fail, the collection will post a message on Slack tagging me.

[2019-11-22 17:25] #293 closed

[2019-11-25 05:07] jwld opened #295 "Enum dropdown doesn't scroll if it extends off-screen"
Using the latest alpha build.

If you add enough values to an enum to push the full list off screen, it's difficult to select values at the bottom of the list since it doesn't scroll (can still be done with keyboard controls, but you can't see what's focused once it goes off-screen).

Checked in Chrome and Safari ✌️

[2019-11-25 08:57] AcerFeng commented on #280
@madebysid

[code]

install error.

[2019-11-25 11:37] madebysid commented on #295
Ah whoops, didn't think of that! Will push out a fix soon!

[2019-11-25 15:42] johndevor commented on #284
@madebysid That appears to have fixed it. Thanks!

[2019-11-25 15:44] madebysid commented on #284
Awesome, I'll go ahead and close this then!

[2019-11-25 15:44] #284 closed

[2019-11-25 16:42] madebysid commented on #279
Apologies on the delay @darknoon, we found a couple of issues with the release, so we had to delay it a bit. Here's more details: https://prisma.slack.com/archives/CKQTGR6T0/p1574696519402800

Let me know if you're stuck still, and I'll get back to you!

[2019-11-25 16:59] darknoon commented on #279
@madebysid hey, I'm hitting a pretty similar issue on preview 17. Did a complete clean `prisma2 init`, and just adding any kind of new type I get this in the management console.

<img width="1280" alt="Screen Shot 2019-11-25 at 11 58 53" src="https://user-images.githubusercontent.com/355540/69561194-f93a5d80-0f7a-11ea-888f-d9a39edaeee8.png">

[2019-11-25 17:05] madebysid commented on #279
@darknoon, Hmm that's possibly because the model you added does not exist on your database yet. I'm guessing you're opening Studio via `prisma2 dev`. Do you see any errors on there? If not, if you `prisma2 init`ed with a demo script, does a simple `photon.<modelName>.findMany()` via a script work?

[2019-11-25 17:09] darknoon commented on #279
@madebysid Is there a special step I need to take after adjusting schema to have it update the database?

No errors in `prisma2 dev`, here is my `d` output:

[code]

[2019-11-25 18:44] madebysid commented on #279
@darknoon Like we discussed on Slack, this was happening when you add a new model to your schema. Restarting `prisma2 dev` fixes this error.
I was able to figure out the root issue, and it is now fixed. It will land in a patch release we have planned for tomorrow. Will let you know here when it is out.

[2019-11-25 22:37] FrancoisVeauvy opened #296 "Docker and prisma studio"
After upgrading to prisma2 preview 17, I modified my Dockerfile in order to assure that @prisma/photon is installed.  When I dockerize my app I got this error when I try to open prisma studio on http://localhost:5555

**Error dump**
Cannot destructure property `dmmf` of 'undefined' or 'null'.

**Stacktrace**
TypeError: Cannot destructure property `dmmf` of 'undefined' or 'null'.
    at connect (/u

[2019-11-26 04:53] schickling opened #297 "Keyboard shortcuts are interpreted twice while in code edit mode"
https://www.loom.com/share/a268248f8067442aa2b9f424e593e48a

[2019-11-26 09:37] madebysid commented on #280
Hey @AcerFeng, there was a tiny breaking change with the latest preview (which I'm fairly certain was alpha when you tried it out), here's details: https://github.com/prisma/prisma2/releases/tag/2.0.0-preview017

If you go over and make these changes, clear IndexedDB (to make sure), does this still happen?

[2019-11-26 09:39] madebysid commented on #282
@chrisdrackett Hmm, can't seem to reproduce on latest preview with the schema you've provided.
Perhaps it was fixed. If you still see this after updating, could you post your full schema as well? Thanks!

[2019-11-26 09:44] madebysid commented on #296
@FrancoisVeauvy I think I know what might be causing this. Could you share your Dockerfile if possible?
Have you tried using Photon via a script as well? Does that work?

[2019-11-26 10:30] AcerFeng commented on #280
@madebysid

[code]

[2019-11-26 10:55] madebysid commented on #280
Okay I've only just seen you're using the Apollo Server example. So I tried out the same example from [prisma-examples](https://github.com/prisma/prisma-examples/tree/prisma2/typescript/graphql-apollo-server), and after installing dependencies with `yarn`, ran `npx prisma2 dev` in that directory, opened up `localhost:5555` and can't see this. :(

In your specific case, it also looks like the binar

[2019-11-26 12:55] FrancoisVeauvy commented on #296
@madebysid : of course, I'll be glad to.

`docker-compose.yml`

[code]

`Dockerfile` (Prisma)

[code]

`Dockerfile` (Backend)

[code]

[2019-11-26 13:25] HubnerJonathan commented on #291
Hey,

Just did it and the error changed. I've now got :
`Cannot destructure property `dmmf` of 'undefined' or 'null'.
TypeError: Cannot destructure property `dmmf` of 'undefined' or 'null'.
    at connect (/home/avalon/.nvm/versions/node/v12.2.0/lib/node_modules/prisma2/build/photon-worker.js:44:11)
    at processTicksAndRejections (internal/process/task_queues.js:89:5)
    at async process.<anony

[2019-11-26 13:40] madebysid commented on #291
Hmm I don't see this so it looks like something specific to your project. From the logs, it looks like Studio was unable to generate photon (that it uses internally).
Are you also able to use photon via a normal script?

Also, have you taken a look at the latest preview/alpha's breaking change: https://github.com/prisma/prisma2/releases/tag/2.0.0-preview017

Specifically, you now need `@prisma/pho

[2019-11-26 13:58] HubnerJonathan commented on #291
I have the same error when I try to create a new prisma repository.

- npx prisma2 init "myrepo" (graphql + auth project)
- cd "myrepo"
- npm install prisma2 --save-dev
- npm install @prisma/photon
- npx prisma2 dev

Do I do something wrong ?

BR.

[2019-11-26 15:17] madebysid opened #298 "Tests for Studio's Photon wrapper"
Studio internally has a class that wraps Photon. This "sandbox" is what is used when any request is sent. This is also where all Photon integration lies and is extremely important, yet really brittle.

The class itself does very little, but is used in practically every flow. It NEEDS tests.

[2019-11-26 15:20] madebysid commented on #298
Added tests to Studio's photon wrapper (studio-transports) with a real SQLite DB, unstubbed photon & schema. All core functionality: Photon generation, starts, requests & stops are now CI tested.

I will add more sanity tests as part of https://github.com/prisma/studio/issues/290, but there isn't anything else in the `studio-transports` package that needs testing anymore.

[2019-11-26 15:20] #298 closed

[2019-11-26 15:21] himerus commented on #296
I'm seeing a similar result when using Docksal as my docker/docker-compose wrapper.

Nothing special in the setup, but when I run my `prisma2 dev` command, the following is output during the generation.

[code]

After this error hits the logs, the script continues on and says Database was migrated successfully and that Photon.js was generated and my application works, just not the Studio.

[2019-11-26 15:37] schickling opened #299 "Selected row is weirdly indented"
![image](https://user-images.githubusercontent.com/1567498/69648110-82a36b80-101f-11ea-9285-0cbff5138c4d.png)

[2019-11-26 16:22] madebysid commented on #291
@HubnerJonathan This is super weird, I just did the same thing on a Mac, didn't see this, but I tried it on an Ubuntu Virtual Machine and can now reproduce this. I'll figure out what's happening in a bit and get back to you here.

[2019-11-26 16:53] madebysid opened #300 "Tests for studio-server"
@prisma/studio-server serves the React app and also acts as its backend. It routes all photon requests to studio-transports, and also maintains a websocket connection to the react app.

With https://github.com/prisma/studio/issues/298 out of the way, this should be relatively straight-forward.

[2019-11-27 00:45] tmfprlt1234 opened #301 "starterkit -> javascript -> graphql + auth -> postgres -> prisma2 dev"
<Anything that helps us reproduce the error goes here>

**Error dump**
Cannot destructure property `dmmf` of 'undefined' or 'null'.

**Stacktrace**
TypeError: Cannot destructure property `dmmf` of 'undefined' or 'null'.
    at connect (/usr/local/lib/node_modules/prisma2/build/photon-worker.js:44:31)
    at process._tickCallback (internal/process/next_tick.js:68:7)

[2019-11-27 01:49] AcerFeng commented on #280
Obstructed by [#985](https://github.com/prisma/prisma2/issues/985)

[2019-11-27 10:23] do4gr commented on #260
Sorry, somehow didn't catch the notification.

The changes sound sensible to me.

Just one question about the sensible default values: Are these valid when I press submit? My concern would be I add a big new row, and there are already values in required fields pre-populated by studio and now I am not sure whether I added the value or it is a default value that studio chose or it is a default value

[2019-11-27 10:48] madebysid commented on #260
Yep values generated by Studio (either by reading defaults from your schema or falling back to something are considered "valid"

Yes you can.

I think that sounds sensible, not sure. Maybe we can discuss this next Tuesday? @schickling

[2019-11-27 16:17] madebysid opened #302 "Clearer error message when Photon generation fails"
For errors like [this](https://user-images.githubusercontent.com/17841919/69658623-8dbfc100-104a-11ea-8593-f2d10827a140.png), the message does not mean anything to the end-user.
I could perhaps see if photon generation failed and fall back in a more graceful/friendlier way.

[2019-11-28 09:05] AcerFeng commented on #280
I pulled `prisma-examples` , remove `node_modules` and `yarn.lock`,  run `yarn`, and then run `npx prisma2 dev`:

[code]

In Chrome `localhost:5555`:

[code]

[2019-11-28 09:20] madebysid commented on #280
@AcerFeng Okay this is actually good, this is an issue we know happens on Windows and was fixed yesterday. The next release (which will happen soon) will address this. Will let you know when it is out so you can retry. Thanks for the detailed stacktraces!

[2019-11-28 09:53] madebysid commented on #279
@darknoon A fix for this is not out with preview17.1, could you give this another shot?

[2019-11-28 14:04] madebysid commented on #164
Just found this issue, this is done. Moreover, I've changed behaviour to say "Run" when you're in "Code" mode, and "Reload" otherwise (visual mode). I think the two different contexts warranted different actions.

[2019-11-28 14:04] #164 closed

[2019-11-28 14:14] madebysid commented on #291
Hello @HubnerJonathan! We just pushed out 2.0.0-preview017.2, which has a fix for this problem. It was indeed a Linux specific issue. I've also verified that Studio now works on my virtual machine.
In case you do not want to `prisma2 init` another project, you can just bump up versions of `prisma2` and `@prisma/photon` to `latest`, `npm i` and try again. Please let me know if you're still running

[2019-11-28 15:20] ansarizafar opened #313 "Prisma studio IP address"
I using an online IDE for development and I need to run prisma studio on IP 0.0.0.0 to access it. Is it possible to change IP address of Prisma Studio when using prisma2 dev command?

[2019-11-28 16:08] madebysid commented on #296
Hey everyone, we just pushed out preview017.2, which fixes an issue with prisma2 & paths on Linux. This was quite possibly related, because I'm able to view Studio on Docker now.

@FrancoisVeauvy The Docker setup you're using was pretty complex, so I set up an extremely primitive one with SQLite and `prisma2@latest` and it seems to be working. Please retry and let me know if this is resolved for y

[2019-11-28 16:46] madebysid commented on #299
Should now be fixed, can't see this anymore on the demo app

[2019-11-28 16:47] madebysid commented on #280
@AcerFeng The release is out. `prisma2@preview017.2` should fix this error, can you try again?

[2019-11-29 08:10] AcerFeng commented on #280
@madebysid That appears to have fixed it. Thank you!

[2019-11-29 08:10] #280 closed

[2019-11-29 16:54] schickling commented on #299
Seems to be still there.

![F15E2766-60D6-4C98-9559-2E4363C1B19C](https://user-images.githubusercontent.com/1567498/69882671-d0211200-1285-11ea-89ee-89d593ed3738.jpeg)

[2019-11-29 17:54] madebysid commented on #300
Done

[2019-11-29 17:54] #300 closed

[2019-11-29 20:34] outerlook opened #303 ""Export/Copy as JSON" feature"
Hi! Should there be an issue to track "copy as json" implementation?

I miss this, but I know there are bunch of things coming first. Thanks!

[2019-11-29 21:03] schickling commented on #303
Isn't this already doing what you were looking for?

![image](https://user-images.githubusercontent.com/1567498/69889955-94e40a80-12a8-11ea-9153-e62809c49b12.png)

[2019-11-29 22:54] outerlook commented on #303
Yes! But I receive this on browser console:
![image](https://user-images.githubusercontent.com/12937160/69892204-d6dd7280-12e1-11ea-9552-0d6308dd6edf.png)

My prisma2 version is prisma2@2.0.0-preview017.2

[2019-11-30 02:14] schickling commented on #303
Ouh. I see.

![](https://media.giphy.com/media/AjYsTtVxEEBPO/giphy.gif)

[2019-11-30 03:18] outerlook opened #304 "Dumped error after trying to save changes on studio"
trying to edit some fields on studio. After clicked to save changes, this happened.

![image](https://user-images.githubusercontent.com/12937160/69894999-d60b0780-1306-11ea-9ac0-093046614403.png)

is it helpful to raise this issue?

**Error dump**
pn.get(...) is null

**Stacktrace**
Ln/<@http://localhost:5555/studioBundle.js:87:30908
Ln@http://localhost:5555/studioBundle.js:87:30548
In/<@http://lo

[2019-12-02 09:19] madebysid commented on #299
Was the result of a rollback I did, try again now?

[2019-12-02 10:24] madebysid commented on #303
Hello! I was looking into this right now. Implementing is trivial, but there's one question that needs answering: How much do we want to copy?
For a small dataset with a bunch of relations (I had 5 records with ~15K relations in total), the payload ended up being 11Mb in size. While theoretically there isn't a limit, Firefox & Chrome wouldn't let me copy something that huge to the clipboard. Obvio

[2019-12-02 12:17] outerlook commented on #303
I don't know if it is a good workflow, but I'm thinking of using for this:

In my schema there is a "Place", that can have many "Amenity"`s, that are divided in "CategoryOfAmenity". So, place is a thing that will be truly dynamic, I definitely won't need to store this amount of data in JSON. But amenities will be kind of static, as the costumer will just pick from this list what amenities his plac

[2019-12-02 12:34] schickling commented on #303
@madebysid I'd suggest showing some kind of confirmation modal in case you're copying more than x amount of data.

[2019-12-02 12:36] #299 closed

[2019-12-02 13:38] janpio opened #305 "Report Photon errors to Error Reporting Backend"
Currently `prisma2` only reports panics from the Migration Engine from Lift to the Error Reporting Backend. In general we can not add this to Photon and the Query Engine, as we only report after explicit consent from the user. That is a shame, because we would also like to know about the crashes there.

Tim had the idea, that in Studio we actually might be able to report Photon errors to the Backe

[2019-12-03 13:14] madebysid commented on #304
Hey @outerlook, could you share your schema file? From the screenshot, I can make out what changes you made. I can then try and reproduce this on my end as well!

[2019-12-03 13:16] outerlook commented on #304
Sure! Where could I send to you privately?

[2019-12-03 13:17] madebysid commented on #304
Just leave out your DB credentials and paste it here? It'd be helpful to know if you're on SQLite / MySQL / Postgres though.

[2019-12-03 13:22] outerlook commented on #304
How about sending it to your mail? Would be more confortably for me not to keep that so public

[2019-12-03 13:31] madebysid commented on #304
Sure, you'll find my email on my GitHub page.
Perhaps you'd also like to join our Slack community here: https://slack.prisma.io/ and DM me there. My username is `siddhant`. That would make communication much easier as well.

[2019-12-03 15:40] #287 closed

[2019-12-03 17:40] madebysid commented on #296
Heyo! I'm going to close this, but please reopen if you're stilling running into this!

[2019-12-03 17:40] #296 closed

[2019-12-03 17:41] madebysid commented on #295
@jwld I've set a maximum height for the enum dropdown in the latest alpha (alpha.389 as of now), please reopen if you still find issues!

[2019-12-03 17:41] #295 closed

[2019-12-03 17:42] madebysid commented on #279
I'm going to close this, since I'm fairly certain this is now fixed, but please reopen if you're still seeing this!

[2019-12-03 17:42] #279 closed

[2019-12-03 17:42] madebysid commented on #253
@tvvignesh Hello! This is now (finally) fixed with the latest alpha (alpha.389 as of now), please give it another shot!

[2019-12-03 17:42] #253 closed

[2019-12-03 17:43] madebysid commented on #252
@tvvignesh There was one issue here that wasn't fixed, but with the latest alpha (alpha.389), this should now work as expected. Please reopen otherwise!

[2019-12-03 17:43] #252 closed

[2019-12-03 17:44] madebysid commented on #251
@tvvignesh I think this is the same root issue as https://github.com/prisma/studio/issues/257, which is now fixed. Could you check to see if you're still seeing this in the latest alpha (alpha.389)

[2019-12-03 17:44] #251 closed

[2019-12-03 17:45] madebysid commented on #257
Going to close this, I think this is fixed. Please reopen otherwise!

[2019-12-03 17:45] #257 closed

[2019-12-03 17:45] madebysid commented on #291
Going to close this, but please reopen if you're still running into issues!

[2019-12-03 17:45] #291 closed

[2019-12-03 18:01] jwld commented on #295
Great cheers 👍

[2019-12-04 13:19] madebysid opened #306 "No way to delete a relation from Record Connect Dialog"
I believe this would in essence be the same thing as https://github.com/prisma/studio/issues/124,
 but on top of having a way to set the relation to `null` from the table cell, I think it should also be possible from the record connect dialog.

Perhaps we could add a checkbox to the header and have it "half-selected", clicking on which would unselect all records, thereby setting the relation to `n

[2019-12-04 21:39] heymartinadams opened #307 "Error in <TabIndexProvider> in prisma2@2.0.0-alpha.376"
1. Prisma2 version: `"prisma2": "2.0.0-alpha.376"` and `"@prisma/photon": "2.0.0-alpha.376"`

The below error does not occur in `prisma2@2.0.0-alpha.374` (there doesn’t appear to be a `375`).

2. Logs from Developer Tools Console upon `npx prisma2 dev`:
[code]

3. Does the issue persist even after updating to the latest `prisma2` alpha (`npm i -g prisma2@alpha`)?

Yes.

[2019-12-05 09:25] madebysid commented on #186
Latest alpha also now has checkboxes next to rows that should make it easier to select (and delete) them. Closing!

[2019-12-05 09:25] #186 closed

[2019-12-05 15:26] madebysid commented on #269
Done

[2019-12-05 15:26] #269 closed

[2019-12-10 10:36] madebysid commented on #56
What I've done is add validation to these filters. Invalid filters are ignored. This has the effect of solving this issue. The first filter that you add is automatically "invalid" until changed when added, so records do not disappear.

I think this solution is more elegant that query defers, and also brings more functionality.

Closing, but if there are more things we'd want to do to this flow, fe

[2019-12-10 10:36] #56 closed

[2019-12-10 16:21] sdnts opened #308 "(Visually) Differentiate between touched & untouched fields during record creation"
As a consequence of https://github.com/prisma/studio/issues/260#issuecomment-559025984 & discussion with @schickling, we decided to figure out a way to visually differentiate table cells that were populated by Studio from ones that had their value populated from the schema (`@default`).

This would also address @do4gr's comment:

Values that are prepopulated by Studio will be considered "untouched

[2019-12-10 16:46] madebysid opened #309 "Streamline pagination flow"
Currently, pagination parameters (`first`, `skip` & `after`), shown in the UI as:

<img width="172" alt="image" src="https://user-images.githubusercontent.com/7689783/70547743-b202be00-1b71-11ea-8567-051be3465dab.png">

are able to be controlled by both the user and Studio. These are also used when deciding the number of records to fetch for an open tab.

These parameters are subject to change for

[2019-12-11 11:40] schickling opened #310 "Hitting CMD + C should copy content of selected select to clipboard"
Hitting CMD + C should copy content of selected select to clipboard even in non-editing mode and no text selected but just a cell.

[2019-12-11 19:08] janpio commented on #305
Do you need any information on this? As this is the only way for us to get error reports from Photon, we are very eager to have this as soon as possible - best _before_ the MVPhoton release.

[2019-12-11 20:32] scriptcoded opened #311 "Wrong command suggestion when disconnected"
1. Prisma2 version (`prisma2 -v`):
prisma2@2.0.0-preview017.2, binary version: 6159bf3a263921c3c28ee68e2c9e130b5a69c293

2. Logs from Developer Tools Console, if any:
None

3. Does the issue persist even after updating to the latest `prisma2` alpha (`npm i -g prisma2@alpha`)?
Yes

4. Prisma2 schema (if relevant):
None

When `prisma2 dev` is stopped in the terminal the following message gets shown

[2019-12-11 20:45] janpio commented on #311
Also, there are two commands that could be used to start Studio: `prisma2 dev` and `prisma2 studio`. We should probably add a mechanism that recognizes that and shows the user the approprate command @madebysid

[2019-12-12 20:47] alaarihan opened #312 "This is the default Graphql-API example (javascript version) error"
<Anything that helps us reproduce the error goes here>

**Error dump**
Error in Photon:
Error: undefined target="exit" timestamp="2019-12-12T20:44:50.705Z" fields={"message":"1"}
    at NodeEngine.engineReady (/home/alaa/.cache/prisma/studio/home-alaa-NodeProjects-tmp-prisma2Example/runtime/index.js:3533:23)
    at async /home/alaa/.cache/prisma/studio/home-alaa-NodeProjects-tmp-prisma2Example/run

[2019-12-13 16:22] darknoon commented on #279
Yeah, I haven't seen this anymore.

[2019-12-15 20:29] schickling opened #314 "Auto-refresh / reload UI on schema changes"
Currently it seems the user needs to manually reload the Studio website or even restart the `prisma2 dev` command. This should happen automatically.

We might need to consider some UX flows when this leads to problematic situations. (e.g. pending/uncommitted create actions...)

[2019-12-16 18:30] madebysid commented on #310
This is now out on the [demo app](https://prisma-studio.now.sh). An alpha should be out tomorrow (some tests seem to be failing on the prisma2 release pipeline).

A couple of other things I did additionally:
- Selecting a cell and pressing `Cmd+C` copies the cell's content (regardless of whether you're in edit mode or not) to clipboard (this issue)
- Selecting a single record and pressing `Cmd+C`

[2019-12-16 18:30] #310 closed

[2019-12-17 15:48] madebysid commented on #116
Moving out of beta for now, showing array slices should work for the time being.

[2019-12-17 16:08] sdnts opened #315 "Add a floating help dropdown for useful actions"
This is how Figma does it:
<img width="265" alt="image" src="https://user-images.githubusercontent.com/7689783/71011657-167fc900-20ee-11ea-9898-8b91520a4c5d.png">

It could contain actions such as:
A link to the release notes
A way to report an issue
Documentation about keyboard shortcuts
Internal prisma versions used

among others

[2019-12-17 21:29] LydiaF opened #316 "Issue creating records in relation to the ID"
Hey :)

I am encountering a little issue when I am trying to create records that I don't have to enter any information for. In the first picture, it says that the ID will be auto-generated, but in the second picture, it says that an ID was not provided.

<img width="1397" alt="Screenshot 2019-12-17 at 21 23 34" src="https://user-images.githubusercontent.com/10000865/71035591-b00da180-2113-11ea-836

[2019-12-18 06:20] claassenarjan opened #317 "Explicitly handle write errors in Demo deployment"
I opened the Prisma2 Studio demo, and tried to upload attached data record. This raised an error.

**Error dump**
Cannot read property 'map' of undefined

**Stacktrace**
TypeError: Cannot read property 'map' of undefined
    at qt (https://prisma-studio.now.sh/studioBundle.js:87:22200)

![image](https://user-images.githubusercontent.com/25230009/71060789-b842fc80-2166-11ea-9074-6923e617f4dd.png)

[2019-12-18 12:14] madebysid commented on #316
Hey @LydiaF, thanks for letting me know! This is indeed a bug and I've identified the cause for this. I'll let you know here when a fix is out.

For the time being, you can get around this by specifying a default value for your `id` field in your `schema.prisma` file

If `id` of `WorksheetPlatonic` is an Int, you should be able to do:
[code]

or if `id` is a String, try:
[code]

More details about

[2019-12-18 12:20] madebysid commented on #317
Hey @claassenarjan, the demo deployment is read-only as of right now, which is why you're running into this. I guess we should make that clear, since it doesn't say that anywhere.

I've been meaning to handle this operation more gracefully rather than failing in a cryptic way as it does right now, so I'll keep this issue open, but please note that this is expected :)

If you want to actually use S

[2019-12-18 12:38] LydiaF commented on #316
Thank you so much for looking into this and the workaround!

[2019-12-18 12:42] madebysid commented on #312
Hey @alaarihan, are you able to reliably reproduce this on `latest` (preview018.1)? This usually happens when the prisma2 binary failed to download correctly.

Does this also only happen with Studio? Are you able to manually run a script with some photon requests in it?